@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&family=Pacifico&display=swap");
:root {
  font-size: 11px;
}
@media screen and (min-width: 480px) {
  :root {
    font-size: calc(0.7352941176vw + 7.4705882353px);
  }
}
@media screen and (min-width: 1024px) {
  :root {
    font-size: 15px;
  }
}
:root {
  --header-size: 32px;
}
@media screen and (min-width: 480px) {
  :root {
    --header-size: calc(1.4705882353vw + 24.9411764706px);
  }
}
@media screen and (min-width: 1024px) {
  :root {
    --header-size: 40px;
  }
}
:root {
  --scale-factor: 0.65;
}
@media screen and (min-width: 480px) {
  :root {
    --scale-factor: calc((0.0643382353vw + 0.3411764706px) / ((0.0643382353vw + 0.3411764706px) * 0 + 1px));
  }
}
@media screen and (min-width: 1024px) {
  :root {
    --scale-factor: 1;
  }
}

:root {
  --min-test: 48px;
  --min-width: 480px;
  --max-width: 1024px;
  --min-font: 12px;
  --max-font: 17px;
}

*, *::before, *::after {
  position: relative;
  box-sizing: border-box;
  font-family: Barlow, system-ui;
}

html, body {
  background: #222;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  height: 100%;
  max-height: 100vh;
  overflow: hidden;
  --min-test: 48px;
  --min-width: 480px;
  --max-width: 1024px;
  --min-font: 12px;
  --max-font: 17px;
}

@media screen and (max-width: 480px) {
  * {
    filter: brightness(0.75) grayscale(100) sepia(100) contrast(1.25) hue-rotate(320deg);
  }
}
.api-dialog {
  background-color: #eee8e1;
  width: 100%;
  min-height: 70%;
  height: 100%;
  max-height: 98%;
  min-width: 480px;
  max-width: 1024px;
  margin: 1% auto 0;
  border-radius: 30px;
}
.api-dialog:has(.api-dialog-pagination:nth-of-type(1):checked) {
  --currentPage: 1;
}
.api-dialog:has(.api-dialog-pagination:nth-of-type(2):checked) {
  --currentPage: 2;
}
.api-dialog:has(.api-dialog-pagination:nth-of-type(3):checked) {
  --currentPage: 3;
}
.api-dialog:has(.api-dialog-pagination:nth-of-type(4):checked) {
  --currentPage: 4;
}
.api-dialog:has(.api-dialog-pagination:nth-of-type(5):checked) {
  --currentPage: 5;
}
.api-dialog .api-dialog-header-indicator {
  color: transparent;
  transition: 0.4s max-width linear, 0.25s color, 0.4s padding, 0.5s background 0.25s;
  font-weight: bold;
  pointer-events: none;
}
.api-dialog .api-dialog-header-indicator::after {
  content: "✓";
  transition: 0.875s all;
  opacity: 0;
  display: block;
  width: 100%;
  height: 32px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translatex(-50%);
  color: #eee8e1;
  pointer-events: none;
}
.api-dialog .api-dialog-pagination:nth-of-type(5):checked ~ .api-dialog-header .api-dialog-header-indicator:nth-of-type(5), .api-dialog-pagination:nth-of-type(5):checked ~ .api-dialog-header .api-dialog .api-dialog-header-indicator:nth-of-type(5), .api-dialog .api-dialog-pagination:nth-of-type(4):checked ~ .api-dialog-header .api-dialog-header-indicator:nth-of-type(4), .api-dialog-pagination:nth-of-type(4):checked ~ .api-dialog-header .api-dialog .api-dialog-header-indicator:nth-of-type(4), .api-dialog .api-dialog-pagination:nth-of-type(3):checked ~ .api-dialog-header .api-dialog-header-indicator:nth-of-type(3), .api-dialog-pagination:nth-of-type(3):checked ~ .api-dialog-header .api-dialog .api-dialog-header-indicator:nth-of-type(3), .api-dialog .api-dialog-pagination:nth-of-type(2):checked ~ .api-dialog-header .api-dialog-header-indicator:nth-of-type(2), .api-dialog-pagination:nth-of-type(2):checked ~ .api-dialog-header .api-dialog .api-dialog-header-indicator:nth-of-type(2), .api-dialog .api-dialog-pagination:nth-of-type(1):checked ~ .api-dialog-header .api-dialog-header-indicator:nth-of-type(1), .api-dialog-pagination:nth-of-type(1):checked ~ .api-dialog-header .api-dialog .api-dialog-header-indicator:nth-of-type(1) {
  transition: 0.2s padding linear 0.333s, 0.25s color 0.2s, 0.333s max-width 0.333s, 0.5s background linear 0.75s, 0.5s box-shadow linear 0.25s;
  max-width: 200px;
  padding: 0 26px;
  box-shadow: inset 0 0 3px #a78e71;
  color: #a78e71;
  background: white;
}
.api-dialog .api-dialog-pagination:nth-of-type(5):checked ~ main.api-dialog-content .api-dialog-content-scroller .api-dialog-content-section.section-5, .api-dialog-pagination:nth-of-type(5):checked ~ main.api-dialog-content .api-dialog-content-scroller .api-dialog .api-dialog-content-section.section-5, .api-dialog .api-dialog-pagination:nth-of-type(4):checked ~ main.api-dialog-content .api-dialog-content-scroller .api-dialog-content-section.section-4, .api-dialog-pagination:nth-of-type(4):checked ~ main.api-dialog-content .api-dialog-content-scroller .api-dialog .api-dialog-content-section.section-4, .api-dialog .api-dialog-pagination:nth-of-type(3):checked ~ main.api-dialog-content .api-dialog-content-scroller .api-dialog-content-section.section-3, .api-dialog-pagination:nth-of-type(3):checked ~ main.api-dialog-content .api-dialog-content-scroller .api-dialog .api-dialog-content-section.section-3, .api-dialog .api-dialog-pagination:nth-of-type(2):checked ~ main.api-dialog-content .api-dialog-content-scroller .api-dialog-content-section.section-2, .api-dialog-pagination:nth-of-type(2):checked ~ main.api-dialog-content .api-dialog-content-scroller .api-dialog .api-dialog-content-section.section-2, .api-dialog .api-dialog-pagination:nth-of-type(1):checked ~ main.api-dialog-content .api-dialog-content-scroller .api-dialog-content-section.section-1, .api-dialog-pagination:nth-of-type(1):checked ~ main.api-dialog-content .api-dialog-content-scroller .api-dialog .api-dialog-content-section.section-1 {
  opacity: 1 !important;
}
.api-dialog .api-dialog-pagination:nth-of-type(5):checked ~ .api-dialog-header .api-dialog-header-indicator:nth-of-type(4), .api-dialog-pagination:nth-of-type(5):checked ~ .api-dialog-header .api-dialog .api-dialog-header-indicator:nth-of-type(4), .api-dialog .api-dialog-pagination:nth-of-type(5):checked ~ .api-dialog-header .api-dialog-header-indicator:nth-of-type(3), .api-dialog-pagination:nth-of-type(5):checked ~ .api-dialog-header .api-dialog .api-dialog-header-indicator:nth-of-type(3), .api-dialog .api-dialog-pagination:nth-of-type(5):checked ~ .api-dialog-header .api-dialog-header-indicator:nth-of-type(2), .api-dialog-pagination:nth-of-type(5):checked ~ .api-dialog-header .api-dialog .api-dialog-header-indicator:nth-of-type(2), .api-dialog .api-dialog-pagination:nth-of-type(5):checked ~ .api-dialog-header .api-dialog-header-indicator:nth-of-type(1), .api-dialog-pagination:nth-of-type(5):checked ~ .api-dialog-header .api-dialog .api-dialog-header-indicator:nth-of-type(1), .api-dialog .api-dialog-pagination:nth-of-type(4):checked ~ .api-dialog-header .api-dialog-header-indicator:nth-of-type(3), .api-dialog-pagination:nth-of-type(4):checked ~ .api-dialog-header .api-dialog .api-dialog-header-indicator:nth-of-type(3), .api-dialog .api-dialog-pagination:nth-of-type(4):checked ~ .api-dialog-header .api-dialog-header-indicator:nth-of-type(2), .api-dialog-pagination:nth-of-type(4):checked ~ .api-dialog-header .api-dialog .api-dialog-header-indicator:nth-of-type(2), .api-dialog .api-dialog-pagination:nth-of-type(4):checked ~ .api-dialog-header .api-dialog-header-indicator:nth-of-type(1), .api-dialog-pagination:nth-of-type(4):checked ~ .api-dialog-header .api-dialog .api-dialog-header-indicator:nth-of-type(1), .api-dialog .api-dialog-pagination:nth-of-type(3):checked ~ .api-dialog-header .api-dialog-header-indicator:nth-of-type(2), .api-dialog-pagination:nth-of-type(3):checked ~ .api-dialog-header .api-dialog .api-dialog-header-indicator:nth-of-type(2), .api-dialog .api-dialog-pagination:nth-of-type(3):checked ~ .api-dialog-header .api-dialog-header-indicator:nth-of-type(1), .api-dialog-pagination:nth-of-type(3):checked ~ .api-dialog-header .api-dialog .api-dialog-header-indicator:nth-of-type(1), .api-dialog .api-dialog-pagination:nth-of-type(2):checked ~ .api-dialog-header .api-dialog-header-indicator:nth-of-type(1), .api-dialog-pagination:nth-of-type(2):checked ~ .api-dialog-header .api-dialog .api-dialog-header-indicator:nth-of-type(1) {
  background: #a78e71;
  user-select: none;
  cursor: pointer;
  color: transparent;
  transition: 0.33s padding linear 0.3s, 0.25s color 0.2s, 0.333s max-width 0.3s, 0.5s background 0.75s, 0.5s box-shadow 0.25s;
  pointer-events: all;
}
.api-dialog .api-dialog-pagination:nth-of-type(5):checked ~ .api-dialog-header .api-dialog-header-indicator:nth-of-type(4)::after, .api-dialog-pagination:nth-of-type(5):checked ~ .api-dialog-header .api-dialog .api-dialog-header-indicator:nth-of-type(4)::after, .api-dialog .api-dialog-pagination:nth-of-type(5):checked ~ .api-dialog-header .api-dialog-header-indicator:nth-of-type(3)::after, .api-dialog-pagination:nth-of-type(5):checked ~ .api-dialog-header .api-dialog .api-dialog-header-indicator:nth-of-type(3)::after, .api-dialog .api-dialog-pagination:nth-of-type(5):checked ~ .api-dialog-header .api-dialog-header-indicator:nth-of-type(2)::after, .api-dialog-pagination:nth-of-type(5):checked ~ .api-dialog-header .api-dialog .api-dialog-header-indicator:nth-of-type(2)::after, .api-dialog .api-dialog-pagination:nth-of-type(5):checked ~ .api-dialog-header .api-dialog-header-indicator:nth-of-type(1)::after, .api-dialog-pagination:nth-of-type(5):checked ~ .api-dialog-header .api-dialog .api-dialog-header-indicator:nth-of-type(1)::after, .api-dialog .api-dialog-pagination:nth-of-type(4):checked ~ .api-dialog-header .api-dialog-header-indicator:nth-of-type(3)::after, .api-dialog-pagination:nth-of-type(4):checked ~ .api-dialog-header .api-dialog .api-dialog-header-indicator:nth-of-type(3)::after, .api-dialog .api-dialog-pagination:nth-of-type(4):checked ~ .api-dialog-header .api-dialog-header-indicator:nth-of-type(2)::after, .api-dialog-pagination:nth-of-type(4):checked ~ .api-dialog-header .api-dialog .api-dialog-header-indicator:nth-of-type(2)::after, .api-dialog .api-dialog-pagination:nth-of-type(4):checked ~ .api-dialog-header .api-dialog-header-indicator:nth-of-type(1)::after, .api-dialog-pagination:nth-of-type(4):checked ~ .api-dialog-header .api-dialog .api-dialog-header-indicator:nth-of-type(1)::after, .api-dialog .api-dialog-pagination:nth-of-type(3):checked ~ .api-dialog-header .api-dialog-header-indicator:nth-of-type(2)::after, .api-dialog-pagination:nth-of-type(3):checked ~ .api-dialog-header .api-dialog .api-dialog-header-indicator:nth-of-type(2)::after, .api-dialog .api-dialog-pagination:nth-of-type(3):checked ~ .api-dialog-header .api-dialog-header-indicator:nth-of-type(1)::after, .api-dialog-pagination:nth-of-type(3):checked ~ .api-dialog-header .api-dialog .api-dialog-header-indicator:nth-of-type(1)::after, .api-dialog .api-dialog-pagination:nth-of-type(2):checked ~ .api-dialog-header .api-dialog-header-indicator:nth-of-type(1)::after, .api-dialog-pagination:nth-of-type(2):checked ~ .api-dialog-header .api-dialog .api-dialog-header-indicator:nth-of-type(1)::after {
  opacity: 1;
  transition: 0.5s all 0.75s;
}
.api-dialog-header {
  padding: 10px 20px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-between;
}
.api-dialog-header-label {
  font-size: var(--header-size);
  font-family: "Pacifico", cursive;
  letter-spacing: 3px;
  margin: 0;
  min-width: 325px;
}
.api-dialog-header-label span {
  display: inline-block;
  margin: 0 -2px 0 -8px;
  transform: translate(0, 5px);
  width: clamp(23px, (0.9191176471vw + 18.5882352941px), 28px);
  height: clamp(23px, (0.9191176471vw + 18.5882352941px), 28px);
}
.api-dialog-header-indicators {
  line-height: 32px;
  font-size: 40px;
  word-spacing: -10px;
  color: #a78e71;
  white-space: nowrap;
  width: 450px;
  margin-right: 20px;
  text-align: center;
  user-select: none;
}
.api-dialog-header-indicator {
  display: inline-block;
  height: 32px;
  line-height: 26px;
  overflow: hidden;
  max-width: 32px;
  padding: 0 0 0 26px;
  border: 3px solid #a78e71;
  color: #a78e71;
  border-radius: 100px;
  font-size: var(--font-size);
  word-spacing: 0;
  text-align: center;
  box-shadow: inset 0 0 0 2px #eee8e1, inset 0 0 0 4px #a78e71;
}
.api-dialog-header-indicator {
  --font-size: 14px;
}
@media screen and (min-width: 480px) {
  .api-dialog-header-indicator {
    --font-size: calc(0.3676470588vw + 12.2352941176px);
  }
}
@media screen and (min-width: 1024px) {
  .api-dialog-header-indicator {
    --font-size: 16px;
  }
}
.api-dialog-content {
  overflow: hidden;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  height: 72%;
}
.api-dialog-content-scroller {
  display: flex;
  flex-wrap: nowrap;
  width: 500%;
  max-height: 80vh;
  background: linear-gradient(180deg, #bfb7ae, #d9cdbf);
  border-top: 4px solid #EFE8E2;
  border-bottom: 4px solid #D9CDBF;
  box-shadow: 0 -4px 0 #d9cdbf, inset 0 -4px 0 #EFE8E2, inset 0 10px 10px rgba(0, 0, 0, 0.2);
  height: 100%;
  top: 0;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.api-dialog-content-section {
  display: inline-block;
  width: 20%;
  padding: 20px;
  max-height: 100%;
  opacity: 0;
  transform: translatex(calc(100% * (var(--currentPage) * -1 + 1)));
  transition: 0.5s all cubic-bezier(0.79, -0.56, 0.69, 1.98), 1s opacity, 0s font-size;
}
.api-dialog-content-section h2 {
  margin: 0;
  padding: 0;
  font-family: Pacifico;
  color: #FFF;
  font-size: var(--h2-size);
  opacity: 0.2;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4666666667);
  position: absolute;
  top: 0;
  left: 0;
  line-height: 1;
  width: 100%;
  height: var(--h2-size);
  transform-origin: 0 100%;
  text-indent: -50px;
  white-space: nowrap;
  transform: rotate(90deg);
}
.api-dialog-content-section h2 {
  --h2-size: 32px;
}
@media screen and (min-width: 480px) {
  .api-dialog-content-section h2 {
    --h2-size: calc(2.9411764706vw + 17.8823529412px);
  }
}
@media screen and (min-width: 1024px) {
  .api-dialog-content-section h2 {
    --h2-size: 48px;
  }
}
.api-dialog-content-section h3, .api-dialog-content-section h4 {
  margin: 0 0 10px 0;
}
.api-dialog-content-section .notice {
  background: #FCC;
  padding: 15px;
  border-radius: 10px;
  border: 3px double #900;
  color: rgba(0, 0, 0, 0.8);
  line-height: 1.4;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5333333333);
}
.api-dialog-content-section-examples {
  display: block;
  position: absolute;
  top: 0;
  width: calc(100% - 80px);
  max-width: calc(100% - 80px);
  height: 100%;
  border-radius: 15px 0 0 15px;
  border: 3px outset #AAA;
  background: #555;
  color: #CCC;
  list-style: none;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-color: #555 #AAA;
  scrollbar-width: thin;
  z-index: 5;
  transform: scale(0);
  opacity: 0;
  pointer-events: none;
  box-shadow: 0 0 200px rgba(0, 0, 0, 0.8), 0 0 150px rgba(0, 0, 0, 0.8), 0 0 100px rgba(0, 0, 0, 0.8), 0 0 50px rgba(0, 0, 0, 0.8);
  transition: 0.65s all cubic-bezier(0.75, -1.42, 0.75, 1.54);
}
.api-dialog-content-section input:checked + .api-dialog-content-section-examples {
  transform: scale(1);
  opacity: 1;
  pointer-events: all;
  transition: 0.3s all cubic-bezier(0.39, 2.59, 0.62, 0.61);
}
.api-dialog-content-section input:checked + .api-dialog-content-section-examples label {
  background-color: #FFCCCC;
  border: 0 none;
  border-radius: 15px;
  padding: 5px 20px 6px;
  color: black;
  font-weight: 600;
  margin: 4px 0 4px;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 20;
  transition: 0.1s all ease-in-out;
}
.api-dialog-content-section input:checked + .api-dialog-content-section-examples label:hover {
  background-color: #A00;
  color: white;
  transform: translatey(-3px);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.7333333333);
}
.api-dialog-content-section input:checked + .api-dialog-content-section-examples label:active {
  background-color: #700;
  color: white;
  transform: translatey(-1px);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.7333333333);
}
.api-dialog-footer {
  user-select: none;
}
.api-dialog-footer nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-end;
}
.api-dialog-footer-button {
  margin: 25px 10px 10px;
  font-weight: 600;
  padding: 11px 5px 12px;
  border-radius: 18px;
  background-color: #faf8f6;
  color: #a78e71;
  text-shadow: 0 1px 0 #FFF;
  width: 310px;
  border: 3px solid #a78e71;
  transition: 1s opacity ease-in, 1s filter, 1s pointer-events;
}
.api-dialog-footer-button {
  font-size: 14px;
}
@media screen and (min-width: 480px) {
  .api-dialog-footer-button {
    font-size: calc(0.7352941176vw + 10.4705882353px);
  }
}
@media screen and (min-width: 1024px) {
  .api-dialog-footer-button {
    font-size: 18px;
  }
}
.api-dialog-footer-button:nth-of-type(odd) {
  background-color: #a78e71;
  color: white;
  text-shadow: 0 -1px 0 #000;
  width: 200px;
  border: 3px solid transparent;
}
.api-dialog-footer-button:hover {
  transform: translatey(-7px);
  box-shadow: 0 4px 0 #776550, 2px 4px 7px rgba(0, 0, 0, 0.4666666667), inset 8px 7px 9px rgba(255, 255, 255, 0.3333333333);
}
.api-dialog-footer-button:hover:active {
  transform: translatey(-5px);
  box-shadow: 2px 4px 0 #776550, 2px 4px 2px rgba(0, 0, 0, 0.4666666667), inset 8px 7px 9px rgba(255, 255, 255, 0.3333333333);
}
.api-dialog-footer-button:disabled {
  opacity: 0.5;
  filter: grayscale(0.5);
  pointer-events: none;
}