@import url("https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&family=Mouse+Memoirs&family=Source+Sans+3:wght@200;400;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  position: relative;
  font-family: "Source Sans 3", sans-serif;
  transition: 0.5s all ease-in-out, 0s margin;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  height: 100%;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

svg#octocat {
  position: fixed;
  right: 0;
  top: 0;
  opacity: 50%;
  height: 100px;
}
svg #shadowcat {
  filter: drop-shadow(-5px 10px 10px #000);
}
svg #fork {
  filter: drop-shadow(-5px 10px 10px rgba(0, 0, 0, 0.6));
  transform: translate(0, -60px);
}

header.homepage {
  width: 100%;
  text-align: center;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.6666666667) 0%, rgba(255, 255, 255, 0) 50%);
  border-radius: 20%;
  padding: 250px 0 50px;
  margin: 0;
  min-width: 100%;
  background-position: right;
  background-size: contain;
  order: 0;
  position: fixed;
  top: -100px;
  min-height: 350px;
}
header.homepage h1 {
  background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 400'%3E%3Cdefs%3E%3ClinearGradient id='b' x1='50%25' x2='0%25' y1='86.6%25' y2='0%25'%3E%3Cstop offset='0%25'/%3E%3Cstop offset='31%25' stop-opacity='.4'/%3E%3Cstop offset='50%25' stop-color='%238A8A8A' stop-opacity='0'/%3E%3Cstop offset='59%25' stop-color='%23CACACA' stop-opacity='.5'/%3E%3Cstop offset='67%25' stop-color='%23FFF' stop-opacity='.6'/%3E%3Cstop offset='100%25' stop-color='%23FFF'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' x1='0%25' x2='100%25' y1='0%25' y2='0%25'%3E%3Cstop offset='0%25' stop-color='%23006DB9'/%3E%3Cstop offset='33%25' stop-color='%23004294'/%3E%3Cstop offset='66%25' stop-color='%236C2177'/%3E%3Cstop offset='100%25' stop-color='%23D22976'/%3E%3C/linearGradient%3E%3ClinearGradient id='d' x1='0%25' x2='0%25' y1='0%25' y2='100%25'%3E%3Cstop offset='0%25' stop-color='%23ECF1F7' stop-opacity='.3'/%3E%3Cstop offset='42%25' stop-color='%23FFF' stop-opacity='0'/%3E%3Cstop offset='50%25' stop-opacity='0'/%3E%3Cstop offset='100%25'/%3E%3C/linearGradient%3E%3ClinearGradient id='e' x1='100%25' x2='0%25' y1='0%25' y2='0%25'%3E%3Cstop offset='0%25'/%3E%3Cstop offset='0%25' stop-color='%23F32F25'/%3E%3Cstop offset='33%25' stop-color='%23F35326'/%3E%3Cstop offset='66%25' stop-color='%23FB7928'/%3E%3Cstop offset='100%25' stop-color='%23FFB833'/%3E%3C/linearGradient%3E%3ClinearGradient id='f' x1='0%25' x2='86.6%25' y1='50%25' y2='0%25'%3E%3Cstop offset='0%25' stop-color='%23ECF1F7' stop-opacity='.8'/%3E%3Cstop offset='41%25' stop-color='%23FFF' stop-opacity='0'/%3E%3Cstop offset='42%25' stop-color='%23EAEAEA' stop-opacity='0'/%3E%3Cstop offset='50%25' stop-opacity='0'/%3E%3Cstop offset='50%25' stop-opacity='0'/%3E%3Cstop offset='100%25'/%3E%3C/linearGradient%3E%3ClinearGradient id='g' x1='100%25' x2='0%25' y1='0%25' y2='0%25'%3E%3Cstop offset='0%25' stop-color='%23FFE335'/%3E%3Cstop offset='33%25' stop-color='%2385B92B'/%3E%3Cstop offset='66%25' stop-color='%23008A3A'/%3E%3Cstop offset='100%25' stop-color='%23008E9A'/%3E%3C/linearGradient%3E%3ClinearGradient id='h' x1='86.6%25' x2='0%25' y1='50%25' y2='0%25'%3E%3Cstop offset='0%25' stop-color='%23ECF1F7' stop-opacity='.8'/%3E%3Cstop offset='41%25' stop-color='%23FFF' stop-opacity='0'/%3E%3Cstop offset='42%25' stop-color='%23EAEAEA' stop-opacity='0'/%3E%3Cstop offset='50%25' stop-opacity='0'/%3E%3Cstop offset='50%25' stop-opacity='0'/%3E%3Cstop offset='100%25'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpath fill='%23585858' d='M1398 109c12 23 43 14 74 43l2 3c4 6 8 12 8 18 3 7 2 13 0 18-1 7-4 11-8 16l-14 11-19 7-19 2c-20 0-37-8-45-16l-3-3-3-3c-6-6-10-12-10-18-2-6-1-12 2-17 3-6 8-10 16-13l6-2 5-1 4-2 2 2c0 1 0 3-1 2-13 3-22 7-27 13-5 5-6 11-5 18 1 5 5 11 10 16s12 10 20 12c8 4 16 5 26 5 9 0 16 0 24-3s14-6 20-11c6-4 10-10 13-16s3-13 1-20c-1-5-2-9-5-13-4-5-9-10-16-15l-31-12c-22-8-26-13-29-19l-4-7c-1-5 0-9 2-13 3-4 6-8 10-10 3-3 7-5 12-6a58 58 0 0 1 30 0c6 1 9 4 13 7l6 7 5 9 3-1 1-3-4-11-7-8-5-3-12-5a68 68 0 0 0-27 0l-13 3a26 26 0 0 0-11 6l-4 5-6 8c-3 6-3 12-2 18 1 5 4 10 10 15 5 5 13 9 23 12 11 3 21 7 28 11s13 8 17 13l7 14c1 6 1 10-1 15-1 4-5 8-9 11a65 65 0 0 1-62 11l-13-7h-1a50 50 0 0 1-9-15c-1-4 0-8 1-12 2-3 5-6 9-8s9-4 17-4l2 2-1 2c2 2 3 3 1 3-9 0-16 2-19 6-4 4-6 9-4 14l1 4 3 3c3 4 8 6 14 9a63 63 0 0 0 34 1l12-4a41 41 0 0 0 21-18c2-4 2-8 1-13l-6-12-15-12c-7-4-17-7-28-10-11-4-20-8-25-13-6-6-10-11-11-17V94c1-5 3-9 6-13l11-11 8-4 12-2c4-2 9-2 13-2l16 1 14 6c4 2 8 6 11 10l1 3h1c3 4 5 9 6 15l-1 6-5 2-3-1-3-3-2-5-2-5-4-3c-3-3-7-5-11-6-5-2-9-2-13-2-6 0-11 0-16 2l-11 5c-6 4-14 13-10 22Zm-21-9-4 1-4-1-6-4a2 2 0 0 1-1-2l-1-1-1-1v-2h2l4 3 4 1 2-1 1-3v-2l-6-9-13-7-16-7-16-2c-6 0-11 1-15 3s-8 5-9 10c-2 2-3 6-3 11a47 47 0 0 0 4 23l2 2c1 0 2-2 1-4-2-10-2-19 2-25 3-7 8-10 16-10l16 3 14 7 2 3s1 1 0 0l1 3h-2a946 946 0 0 0-13 45l-8 25-9 26-11 23c-6 14-13 24-20 29-8 6-15 8-21 8-5 0-10-1-15-4l-5-4-12 1 12 11c6 4 13 6 20 6 8 0 16-3 24-8 9-7 17-16 25-30a451 451 0 0 0 40-117l1-2 2 1 1 3v-1l1 1 1 3-12 43a377 377 0 0 1-29 75c-9 14-17 24-26 30s-17 9-25 9-14-2-21-6c-7-5-13-10-17-17h-1l-3-5s14 1 20-1l1 2 4 3c4 2 8 3 13 3 6 0 13-2 20-8 6-5 13-14 19-27 9-18 17-38 23-58l18-60-11-5c-5-1-9-3-14-3-8 0-13 3-15 8-3 6-3 13 0 23l-1 6-3 2-2-3-5-3-4-10a53 53 0 0 1 2-30c2-5 5-8 10-10s11-4 17-4c5 0 12 1 17 3 6 1 12 3 17 6l13 9a22 22 0 0 1 7 13l1 1-1 4 1 5Z'/%3E%3Cpath d='M1300 208c-7 7-14 12-24 16-10 5-22 6-35 6-21 0-37-5-49-13l-5-6-17 11c-11 5-23 8-36 8-11 0-20-2-25-7-6-4-9-12-9-21l5-24 5-21c0-3-2-4-4-4-3 0-7 3-12 8-5 6-11 13-16 22-5 8-9 18-13 28-2 7-5 12-7 15-4 3-9 4-16 4-8 0-14-3-17-10a153 153 0 0 1 7-91c2-4 5-8 10-10 4-1 10-3 18-3l9 1c2 1 3 3 3 5l-5 17-5 17c-2 5-3 11-3 19 7-15 15-26 24-35 8-9 18-15 26-18 8-4 16-6 24-6 13 0 20 5 20 16 0 6-2 17-7 34-4 14-6 23-6 28 0 6 3 9 9 9 5 0 10-2 16-6l12-8c-2-3-2-6-2-11 0-11 3-21 10-31 6-9 14-17 26-23 11-5 23-8 37-8 13 0 23 3 30 8 8 6 12 13 12 23 0 11-6 21-16 29s-29 14-55 19c5 8 14 11 26 11 9 0 17-2 22-5 6-3 13-8 20-15 3-3 6-3 9-3s5 0 7 2l2 8c0 6-2 11-5 15Zm-56-42c8-4 11-10 11-16l-2-7c-3-2-6-3-10-3-8 0-14 3-20 10-5 8-9 15-9 25v1c14-2 23-6 30-10ZM933 56a1630 1630 0 0 0-74-4 2710 2710 0 0 0-29 163c0 5-2 9-6 11-4 3-9 4-14 4-6 0-11-1-14-4s-5-6-5-10c0-3 0-8 2-13l-31 18-17 10c-6 34-16 48-27 67s-25 29-42 29c-9 0-17-3-23-8s-8-11-8-20c0-11 5-23 15-37 10-13 29-17 57-36l1-10c-3 5-6 8-12 10-5 3-10 4-15 4a35 35 0 0 1-30-16l-11 8c-9 5-19 8-31 8-9 0-16-2-20-7-5-5-7-11-7-21l3-24c3-10 4-17 4-21 0-2-1-4-3-4s-6 2-9 8c-5 5-10 12-13 21-5 9-8 19-12 28-2 9-4 13-7 16-2 3-6 4-12 4-7 0-11-3-14-10l-2-5a61 61 0 0 1-36 15c-11 0-21-4-26-11-4-7-8-17-8-28-6 2-12 4-19 4-10 0-17-2-22-7-5-4-7-10-7-18l1-7v-6c0-2-1-4-3-4-3 0-6 2-11 8a146 146 0 0 0-23 49c-2 9-4 13-7 16s-7 4-12 4c-7 0-12-3-15-10l-2-6-11 8c-9 5-20 8-32 8-37 0-55-23-55-70l1-21h-11l-11-2-3-9c0-9 4-14 13-14h15c4-18 8-34 15-49 5-14 13-26 22-34 9-10 18-14 29-14 7 0 13 3 18 9 4 6 7 13 7 23 0 25-13 46-36 65h30c4 0 5 1 6 2 2 1 2 3 2 6 0 11-10 17-30 17h-33l-1 19c0 16 2 28 7 35 4 7 11 10 21 10 8 0 14-2 20-6 5-3 10-7 15-13 1-19 4-37 10-55 2-4 4-8 8-10s9-3 15-3l9 1 1 5-4 17-4 17-3 18c7-14 13-25 20-34 8-9 15-15 22-19 7-3 14-5 20-5 11 0 17 5 17 15l-2 16-2 12c0 6 2 8 6 8s7-1 12-4v-2l8-32 7-10c2-2 7-3 13-3 9 0 14 2 14 8l-6 29c-3 17-6 29-6 35 0 5 1 9 3 11 1 3 3 4 6 4 4 0 8-2 13-6l13-12c1-20 3-38 10-56 1-4 4-8 8-10 3-2 8-3 16-3l7 1c2 1 2 2 2 5l-4 17-5 17-2 18c6-14 12-25 20-34 7-9 14-15 21-19 8-3 14-5 20-5 12 0 18 5 18 15 0 7-2 18-6 35-4 14-5 23-5 28 0 6 2 9 7 9 4 0 8-2 13-6l10-8c0-13 3-24 10-35 6-11 15-21 26-28s23-11 36-11l8 2c1 2 3 4 3 8l12-1c4 0 8 0 9 2 2 1 3 3 3 7v4a627 627 0 0 1-12 66 570 570 0 0 1 46-28 1049 1049 0 0 1 13-69l8-34 2-9 2-10c-18 0-32 1-42 4-10 2-17 5-21 8-4 4-7 10-7 15 0 6 2 11 6 16l1 3c0 4-2 6-6 10-4 2-8 4-13 4-3 0-5-2-7-3-3-3-7-7-9-12-3-5-4-11-4-17 0-14 5-25 15-34 10-8 25-13 46-18a915 915 0 0 1 157-2c6 1 10 4 13 6s4 5 4 9-2 8-5 11-9 3-16 3ZM680 271c-6 10-9 17-9 23l2 7c1 2 3 2 6 2 4 0 9-4 15-14s12-25 16-46c-14 10-24 20-30 28ZM299 83c6-11 8-20 8-28 0-9-2-15-6-15-2 0-5 3-9 9l-9 26-8 35c12-8 20-17 24-27Zm410 62c-6 5-11 12-14 20-5 8-7 17-7 26 0 5 2 8 4 11 3 2 5 3 9 3s8-2 12-6 7-11 8-20l9-41c-8 0-14 2-21 7Zm-216-45c-8 0-13-2-17-5-3-3-6-8-6-13s3-11 8-14c5-4 11-6 18-6s12 1 16 4c5 3 7 7 7 13 0 7-3 11-7 15-5 4-11 6-19 6Zm-283 1c-5 0-9-1-12-4s-5-6-5-9l1-9 2-9c0-7-5-12-12-15-7-4-17-6-28-6-15 0-27 3-35 8s-12 12-12 21c0 6 2 12 6 16s9 8 16 11l26 10 33 14c8 5 16 10 21 17 6 6 9 15 9 25 0 19-8 34-23 44-17 10-39 16-66 16-24 0-42-4-57-13-15-8-22-20-22-37 0-9 2-16 5-20 4-5 9-7 15-7 5 0 9 1 12 3s5 6 5 9l-1 8v4l-1 5c0 7 4 12 12 16 9 3 20 5 35 5s27-2 36-7 13-12 13-20c0-6-2-11-6-15l-14-10-26-10c-14-5-25-9-34-14-9-4-16-10-22-18-7-7-10-16-10-28 0-11 4-22 11-31s17-16 30-21a131 131 0 0 1 82-2c11 4 20 9 26 16 7 7 10 16 10 26s-1 18-4 23c-4 5-9 8-16 8Z'/%3E%3Cpath  d='M138 112c-6-3-11-7-15-11l11 7 27 11a363 363 0 0 1 46 22l2 2-11-7-33-14c-12-3-21-7-27-10Zm62-13c-2-3-3-5-3-8l1-8 1-10c0-3-1-7-4-10 5 4 7 8 7 14v9l-1 8c0 2 0 4 2 5h-3Zm-62 109c15 0 27-2 36-8 8-5 13-12 13-21 0-5-2-10-6-14l3 4c4 3 6 8 6 14 0 9-4 16-13 20-8 5-20 8-36 8-14 0-25-1-34-5-4-2-7-4-9-7l5 3c8 4 20 6 35 6Zm-62-51c4 0 8 1 11 3l1 2-8-2c-7 0-12 3-15 7-4 5-6 12-6 21 0 11 4 20 10 28l-1-2c-8-8-12-18-12-30 0-9 1-15 5-20 3-5 8-7 15-7ZM201 35a124 124 0 0 0-82 2c-13 5-23 12-30 22-6 8-10 18-10 30 0 11 3 21 9 28l4 5-2-2-6-6c-6-8-9-17-9-28 0-12 3-22 10-31s17-16 30-21 29-8 46-8c14 0 26 2 37 5 8 3 15 7 22 12v1h1c-6-4-12-7-20-9Zm583-3a915 915 0 0 1 157-2l11 5 1 2c-2-2-5-2-8-2l-31-4a904 904 0 0 0-127 5c-20 4-35 10-45 19-10 7-15 18-15 32a41 41 0 0 0 7 24l-2-1-6-9c-2-5-3-11-3-17 0-14 5-24 15-33s25-15 46-19Zm-30 95 7 1 1 3-5-1-12 1-1-3 10-1Zm-17 17-8 42c-2 8-5 15-9 19-3 5-7 8-11 8s-8-2-10-5l-1-1 7 2c4 0 8-3 12-7 4-5 6-11 8-19l8-38 4-1Zm-66 80-2-1-1-1-1-1h1l3 3Zm88-21 36-23 5-2a985 985 0 0 1 13-69 1471 1471 0 0 1 11-50h4a2350 2350 0 0 0-18 90l-4 26-2 7-6 2-40 25 1-6Zm38 24c-2-2-2-5-2-8l1-7 3-3-1 13 2 6-3-1Zm-140 95-2-1c-4-5-7-11-7-18 0-12 5-24 15-37 11-13 29-18 57-37l6-6-2 9c-28 20-47 24-57 37-9 13-15 26-15 37 0 6 2 12 5 16Zm23-15v-1l2 1c5 0 10-5 16-15 5-8 9-21 14-38l6-5c-5 21-10 37-17 47-5 9-10 14-15 14-3 0-5-1-6-3Zm-22-115c1-12 4-23 10-35 7-12 16-21 27-27 12-8 23-11 35-11h6l1 3h-3c-12 0-24 3-35 10s-20 17-27 28c-6 11-10 23-9 35l-10 9c-5 4-10 6-13 6s-6-1-7-3h3c4 0 8-2 13-6l9-9Zm-56 33c-5-5-7-11-7-20l5-23 3-22v-1c2 0 3 2 3 4l-3 21-4 25c0 7 2 13 5 18l-2-2Zm-66 2 1 2-2-1-3-4v-2l2-1 2 6ZM500 65c6 0 11 2 16 4l1 2c-4-2-8-2-13-2-8 0-14 1-19 5-4 4-7 9-7 14 0 4 0 7 2 9l-3-1c-1-3-3-6-3-10 0-7 2-11 7-15 5-3 11-6 19-6Zm-35 132c0 12 3 21 8 28v1l-2-2-2-1c-4-7-7-15-8-24l4-2Zm-47-7c-4-5-6-10-6-16l1-7 1-7 1-1c2 0 3 2 3 4l-1 7a27 27 0 0 0 3 21l-2-1Zm-71 37 1 2-3-1-2-4-1-2c2 0 2-1 3-2l2 7Zm-87-8c-12-11-17-30-17-55v-19h4l-1 22c0 24 5 42 16 54l-2-2Zm55-158c0 9-3 18-8 28-6 11-13 20-24 29l2-8c7-8 14-15 18-24 5-10 9-20 9-28 0-5-1-9-3-11 4 0 6 5 6 14Zm1-37c-10 0-20 4-29 13-9 8-16 20-23 35-6 15-11 31-14 49h-14c-9 0-13 4-13 13v4l-3-1-1-6c0-9 4-14 12-14h16c3-17 7-34 14-48 7-15 14-27 23-36 9-8 18-13 28-13 5 0 10 2 13 5l2 1s0 1 0 0c-3-2-6-2-11-2Zm20 97h-31l4-4h23l4 1v3Zm24 5c-3 2-6 5-8 10-6 17-9 36-10 56l-14 12c-6 4-13 6-21 6s-14-3-19-8c4 3 9 5 16 5s14-3 21-7l14-12c0-20 4-37 10-55 1-5 4-9 8-11 3-2 9-3 15-3l6 1v2s0 1 0 0h-2c-7 0-11 1-16 4Zm76-4c-6 0-13 2-20 6s-14 10-21 19c-8 8-14 20-20 34l2-16c4-9 9-16 14-22 7-8 15-15 22-18 7-4 13-6 19-6l11 2 2 3-9-2Zm42 0c3-2 8-3 13-3l10 2v2l-6-1c-6 0-10 1-13 3s-5 6-6 11c-4 10-6 20-8 32l-1 1c-4 3-8 5-11 5s-5-1-6-4l2 1 12-4v-3l8-31c2-6 4-9 6-11Zm72 4c-4 2-6 5-8 10-6 18-10 37-10 55l-13 13c-5 4-9 6-12 6-4 0-6-1-8-4l5 1c2 0 6-2 11-7 4-2 8-7 13-11 1-20 4-39 10-56 2-5 5-9 8-11 4-2 9-3 16-3l6 1v2s0 1 0 0h-3c-6 0-11 1-15 4Zm76-4c-6 0-13 2-20 6s-14 10-22 19c-7 8-13 20-20 34l2-16 14-22c8-8 16-15 22-18 7-4 14-6 20-6l11 2 1 3-8-2Zm573 98-3-1-1-1h2l2 2Zm62-71c2 2 3 4 3 8 0 5-3 11-11 15-7 5-17 8-30 10v-4c11-2 19-5 26-9 7-5 11-10 11-16l-1-6 2 2Zm-149 76c-5-4-7-11-7-20l4-24c3-10 5-16 5-21h-1 1c3 0 4 1 4 4l-4 21c-3 11-5 19-5 24 0 7 3 14 6 18l-3-2Zm-62-99c-4 3-7 6-9 10-8 20-12 39-12 60a71 71 0 0 0 6 33l-3-1-3-4c-3-7-5-17-5-31 0-21 4-41 12-60 2-5 6-8 10-10 4-3 11-4 19-4l7 1v3h-2c-8 0-15 1-20 3Zm91-3c-7 0-15 1-24 5-8 4-17 10-26 19-8 9-16 20-24 34l3-16c5-9 11-16 17-21 9-9 17-15 26-19s16-6 24-6c6 0 9 1 13 3l1 2-10-1Zm48 28c6-9 15-18 26-23 11-6 24-9 38-9 11 0 20 3 28 7 0 1 2 1 2 3-7-5-16-6-26-6-14 0-26 2-38 8-11 6-19 13-26 23-6 10-9 20-9 32l1 9c-4 5-8 7-11 10-6 3-12 6-16 6s-6-2-8-5l4 1c4 0 9-2 16-6l11-9a57 57 0 0 1 8-41Zm115 38c-3 0-5 2-7 3-8 8-15 13-21 16s-13 4-22 4c-10 0-18-2-23-7 5 3 11 4 19 4 9 0 16-1 22-4 5-4 13-9 20-16a12 12 0 0 1 11-3l1 3Z' opacity='.3'/%3E%3Cpath  d='M134 111c-6-3-11-7-15-11 3 3 7 5 12 7l26 11a362 362 0 0 1 46 22l3 1-12-6-33-14-27-10Zm62-14c-2-2-3-4-3-7l1-8 2-10c0-4-2-7-5-10 5 4 8 8 8 14l-1 9-1 8 1 5-2-1Zm-62 109c15 0 27-2 36-7 9-4 13-12 13-21 0-5-2-10-6-14l4 3c4 4 6 9 6 15 0 9-5 15-13 20-9 5-21 8-36 8s-27-2-35-6c-4-1-6-3-9-6l5 4c9 3 20 4 35 4Zm-62-50 11 2 1 2h-8c-7 0-12 1-15 7-4 4-5 11-5 19 0 12 3 21 9 28l-2-1c-7-8-11-18-11-30 0-9 2-16 5-20 4-4 9-7 15-7ZM198 34a129 129 0 0 0-82 2c-14 5-24 12-31 21S75 76 75 88c0 11 3 21 9 28l4 4-2-1-5-6c-7-8-10-17-10-28 0-12 4-22 11-31s17-16 30-21 29-8 46-8c13 0 25 2 36 5a63 63 0 0 1 23 13c-6-3-11-7-19-9Zm582-3a915 915 0 0 1 157-2l11 4 1 2-8-2c-8-1-19-3-31-3a915 915 0 0 0-126 5c-21 4-36 10-46 18s-15 19-15 34a40 40 0 0 0 7 23l-2-1-5-8c-3-6-4-12-4-18 0-14 5-25 15-33 10-9 25-15 46-19Zm-30 95 8 1v3l-4-1-12 1-2-4h10Zm-16 17-9 42c-2 8-4 15-8 19-4 5-8 7-12 7s-7-1-9-4l-1-1 6 2c4 0 8-3 12-7 4-5 7-11 8-20l8-37 5-1Zm-67 80-2-1v-1l-1-1v-1l3 4Zm88-21 35-23 6-2 2-6 4-26 7-37 8-34a1431 1431 0 0 1 3-16h5l-3 11a1353 1353 0 0 0-22 112c-2 0-4 0-5 2-14 7-27 16-40 25v-6Zm38 24-2-7v-8l5-3-1 13 1 7-3-2Zm-140 95-2-1c-4-5-6-11-6-18 0-12 5-24 15-37 10-14 29-18 57-37l5-6-2 9c-28 20-46 24-57 37a62 62 0 0 0-15 37c0 6 2 12 5 16Zm24-15-1-1 3 1c4 0 9-5 15-15 5-8 10-21 14-38l6-5c-5 21-11 37-16 46-6 10-11 15-16 15-2 0-4-1-5-3Zm-22-115c0-12 3-24 10-35 6-12 15-21 26-28s23-11 36-11l5 1c1 1 2 2 1 3h-3c-12 0-23 3-35 10a80 80 0 0 0-37 63l-9 9c-5 4-9 6-13 6-3 0-5-1-7-4h3c4 0 8-2 13-5l10-9Zm-57 34c-4-6-6-12-6-21l3-24c3-10 4-17 4-21v-1h1c2 0 3 2 3 4l-3 21-5 25c0 7 2 13 5 17h-2Zm-66 1c1 0 2 1 1 2l-2-1-2-5-1-1 2-1 2 6ZM496 65c7 0 12 0 16 4l1 2c-4-3-7-4-13-4-8 0-14 2-19 6s-7 9-7 14l2 9-2-1c-3-2-4-7-4-11 0-6 3-10 8-14s11-5 18-5Zm-35 131c0 12 3 21 8 28v1l-1-2c-2 0-2-1-3-2-4-6-7-13-8-23l4-2Zm-47-8c-3-4-5-9-5-15l1-8v-7h1c2 0 3 2 3 4l-1 7-1 7c0 5 2 11 4 14l-2-2Zm-71 38 1 2-2-1-3-5v-1l2-2 2 7Zm-87-8c-11-11-17-30-17-55l1-19h3v22c0 24 5 42 15 54l-2-2Zm56-158a85 85 0 0 1-33 56l1-8c9-7 15-15 19-23 6-10 8-20 8-28l-1-11c3 0 6 5 6 14Zm0-37c-10 0-19 4-28 13-9 8-16 21-23 35-7 15-11 31-14 49h-16c-8 0-12 5-12 13l1 4-3-1-2-6c0-9 4-14 13-14h15c4-18 8-34 15-49 5-14 13-26 22-35 9-8 18-13 29-13 5 0 9 1 12 4a25 25 0 0 1 2 2c-3-2-7-2-11-2Zm20 97h-30l4-4h22l4 1 1 3h-1Zm25 5c-4 2-7 5-8 10-6 17-10 36-10 55l-14 12c-7 5-14 7-21 7-9 0-15-3-19-8 4 3 9 4 15 4 8 0 14-2 20-6 5-2 10-7 15-12 1-20 4-38 10-56 2-4 4-8 8-10s9-3 15-3h6l1 2-1 1h-2c-6 0-12 1-15 4Zm75-4c-6 0-12 3-19 6-7 4-15 10-22 18-8 9-14 21-20 34l2-16c4-8 9-14 14-21 8-9 15-15 22-19 7-3 14-5 20-5l11 2 1 3-9-2Zm43 0c2-2 7-3 13-3l10 1v3l-7-1c-5 0-10 1-13 3l-6 11-8 32v1c-5 3-9 5-12 5s-4-1-6-4l2 1c4 0 7-2 12-5v-2l8-32c2-5 5-8 7-10Zm71 4c-3 2-6 5-8 10-6 17-9 36-10 55l-13 13c-5 4-9 6-11 6-4 0-7-2-8-4h3c4 0 8-2 13-6l13-12c1-19 3-37 10-56 1-4 4-8 8-10 3-2 8-3 16-3h5l1 2-1 1h-2c-7 0-12 1-16 4Zm76-4c-6 0-13 3-20 6-6 4-14 10-22 18-7 9-14 21-20 34l3-16 14-21c7-9 14-15 21-19 8-3 14-5 20-5l11 2 1 3-8-2Zm572 98-2-1v-1c-1 1-1 0 0 0l2 2Zm63-71c2 2 3 4 3 7 0 6-4 12-11 16-7 5-17 9-30 10v-4c10-2 19-5 25-9 8-5 11-9 11-15l-1-7 3 2Zm-149 76c-5-5-8-11-8-20l5-24 5-21h-1 1c2 0 4 1 4 3l-5 21c-3 12-4 20-4 25 0 8 2 13 5 18l-2-2Zm-62-99c-4 2-8 5-10 11-8 18-12 38-12 59a69 69 0 0 0 7 33l-3-1-3-4a153 153 0 0 1 7-91c2-4 5-8 10-11 4-2 10-3 18-3l7 1a7 7 0 0 1 0 3h-2c-8 0-15 1-19 3Zm91-3c-8 0-15 1-24 6-9 3-17 9-26 18-9 8-17 20-24 34l3-16c5-9 11-16 17-22 8-8 18-15 26-18s16-6 24-6c5 0 9 1 12 3l2 2-10-1Zm48 28c6-10 14-18 26-23 11-6 23-9 37-9 12 0 21 3 28 7l2 2c-7-4-15-5-25-5-14 0-27 2-38 8s-20 13-26 23a56 56 0 0 0-8 41l-11 9c-7 4-12 6-16 6s-6-1-8-4l3 1c5 0 10-2 16-6l12-9c-2-3-2-7-2-10 0-11 3-22 10-31Zm115 38c-3 0-6 1-8 3-7 7-15 13-20 16-6 3-13 4-22 4-10 0-18-2-23-7 5 3 11 4 18 4 9 0 17-2 22-5 6-3 13-8 20-15 3-3 6-4 9-4l3 1 1 3Z' opacity='.2'/%3E%3Cpath fill='%23 ' d='M1442.9 290.3h-6.3v-23.6h7.3l-1 23.6Zm-17 0-.7-23.6h7.4l-.4 23.6h-6.3Zm-20.6 30.1a576.5 576.5 0 0 0 14 0v11.5a790.4 790.4 0 0 1-14.4-.1 605.6 605.6 0 0 0-12.8 0 2287 2287 0 0 0 .3-45V270c1.3 0 3 .8 5.4.2a122 122 0 0 0 16.3 0c3 .6 4.8-.2 5.2-.2v11.4a453.6 453.6 0 0 1-10 0h-8.2c0 2.3 0 4.7.6 7.3-.3 2.6-.5 4.9-.3 7a398.1 398.1 0 0 1 7 0h10.6l-.1 9.1a638 638 0 0 1-14.2 0h-3.7a2434.2 2434.2 0 0 0 0 15.6h4.3Zm-21.4-20.7-.1 7.8a743.1 743.1 0 0 0-.1 24.4c-.2 0-1 .9-2.5.3l-3.7.3a28 28 0 0 1-11.3-2.2c-3.3-1.4-6.3-4-8.3-7.7a17 17 0 0 1-5.2-9.2 37 37 0 0 1-1.2-12.6c.3-5.2.4-9.9 2-14a29 29 0 0 1 6.6-10.3c2.4-2.3 5.1-4.1 8.3-5.3a32.2 32.2 0 0 1 12.8-1.8l1 12.8h-2.4c-2 0-4 .2-6 .8-2.2.5-4 1.3-5.8 2.5-2.3 2.2-4.2 3.8-5.5 6.7-1.4 2.9-2 6.1-2 9.6 0 3.8.4 7 1.5 9.7 1.5 2.6 2.3 4.7 4 6.1 1.3 1.2 2.7 2 4.2 2.7 1.6.6 3.2 1 5.1 1a438.6 438.6 0 0 0 .4-21.6h8.2Zm-45 26.8-2.6-11.7h-14c-1.2 4.4-2.1 8.4-2.9 11.8l-1.4 6.6-8.4-4.8c1-1.8 2.6-9.2 5.8-22 3.4-12.9 7.5-25.2 9.8-37h9.3c3.1 12.4 6.3 25 10.3 38 2.5 12.9 5.1 19.8 4.5 20.8l-9 5-1.4-6.7Zm-4.7-21.3c-.7-2.6-1.4-6.6-2.3-10.4l-2.4-11.1h-.1l-2.6 11c-1 4.5-1.3 8-2.4 10.5h9.8Zm-27.9-12.5a2431 2431 0 0 0 0 15.7c0 4.2-.5 7.8-1.4 10.9-.4 3-2 5.6-3.5 7.6a17 17 0 0 1-5.5 5c-2 1-4.2 1.5-6.4 1.5-3.4 0-5.8-.6-7.8-1.8-2-1.1-3-2.8-5-4.8a19.7 19.7 0 0 1-3.5-7.7c-.8-3.1-.7-6.8-.5-11 .1-1.8.3-4-.6-6.5a2186.5 2186.5 0 0 0 .1-31.7h9.2a3843.3 3843.3 0 0 0-.3 37.4c.7 4.5.7 8 2.1 10.3 1.5 2.3 3.4 3.6 6 3.6 2.5 0 4.6-1.3 6-3.6 1.3-2.2 2-5.6 2-10.3l.1-7.4v-7a1928.8 1928.8 0 0 0 .1-23h9.1a1765.2 1765.2 0 0 1-.2 22.8Zm-42.4 7-.1 7.8a771.3 771.3 0 0 0-.1 24.4c-.2 0-1.1.9-2.5.3l-3.7.3a28 28 0 0 1-11.3-2.2c-3.3-1.4-6.3-4-8.4-7.7-2.6-2.5-4-5-5.1-9.2a36.7 36.7 0 0 1-1.3-12.6c.3-5.2.5-9.9 2-14 2.1-4 3.8-7.5 6.7-10.3 2.3-2.3 5.1-4.1 8.3-5.3 3.1-1.3 7.1-1.9 10.4-1.9H1261.2l1 12.9h-2.4c-2 0-4 .2-6 .8-2.2.5-4 1.3-5.8 2.5-2.3 2.2-4.2 3.8-5.5 6.7-1.4 2.9-2 6.1-2 9.6-.1 3.8.4 7 1.5 9.7a13.9 13.9 0 0 0 8.3 8.8c1.5.6 3 1 5 1l.2-6.2.1-15.4h8.3Zm-40.6-.9a3883.2 3883.2 0 0 0-.1 29.4l-6.6 4.5a751.4 751.4 0 0 0-12.8-27.5l-7.2-14.9-.1.1a5386.5 5386.5 0 0 0-.1 41.5h-8.5c0-1.6 0-5 .4-10.2.5-5.3-.2-11.8-.1-19.6a3584.4 3584.4 0 0 0 0-28.3l7.2-4.5c.8 1.4 3.2 6.3 7.1 14.6l12.4 25.6v-.5a3037 3037 0 0 0 .2-39h8.4a3492.6 3492.6 0 0 0-.2 28.8Zm-50.4 27.7c-.8-2.7-1.6-7.3-2.7-11.7h-14c-.2 4.4-2 8.4-2.8 11.8l-1.4 6.6-8.5-4.8c.7-1.8 2.5-9.2 5.9-22 3.4-12.9 7.1-25.2 9.8-37h9.3c3.1 12.4 6.3 25 10 38 2.8 12.9 5 19.8 4.8 20.8l-9 5c.4-1-.7-3.2-1.4-6.7Zm-4.8-21.3-2.2-10.4c0-3.5-1.6-7.5-2.4-11.1h-.1l-2.6 11c-1 4.5-1.2 8-2.4 10.5h9.8Zm-30.1 26.6a765.7 765.7 0 0 0-20.9 0l.2-15.9a5234 5234 0 0 0 .1-46h9.2a15080.4 15080.4 0 0 0-.3 49.3 136 136 0 0 1 5.9 0 531.4 531.4 0 0 0 11.3 0l-.1 12.7-5.4-.1Zm-57.8 0a823.8 823.8 0 0 0-20.8 0l.1-15.9a5234 5234 0 0 0 .2-46h9.2a15080.4 15080.4 0 0 0-.3 49.3 204.6 204.6 0 0 1 5.7 0 463.6 463.6 0 0 0 11.4 0v12.7l-5.5-.1Zm-30.4-39a2431 2431 0 0 0 0 15.6c0 4.2-.5 7.8-1.4 10.9-.8 3-2 5.6-3.5 7.6a17 17 0 0 1-5.5 5c-2 1-4.2 1.5-6.8 1.5a14 14 0 0 1-12.4-6.6 19.7 19.7 0 0 1-3.5-7.7c-.8-3.1-1.1-6.8-1.1-11a1675 1675 0 0 1 .1-24.8v-13.4h9.2a4372.6 4372.6 0 0 0-.3 37.4c0 4.5.7 8 2.2 10.3 1.4 2.3 3.4 3.6 5.8 3.6 2.7 0 4.7-1.3 6-3.6 1.7-2.2 2.1-5.6 2.2-10.3V293a1933.7 1933.7 0 0 0 .1-23h9.5a357 357 0 0 0-.6 22.8Zm-45-11a384 384 0 0 0-13.5 0c-.1 3-.3 4.9-.3 7.7l-.1 7.7a307.5 307.5 0 0 1 6.7 0 489.9 489.9 0 0 0 10.4 0v10a523.2 523.2 0 0 1-13.6 0H991c0 5 .9 9.6.8 13.7v11h-10c0-2.2.3-5.6.9-10-.7-4.6-.6-11.8-.6-21.6a4526.8 4526.8 0 0 0 0-30.3c1.3 0 3 .8 5.2.2a109.5 109.5 0 0 0 16 0c2.8.6 4.5-.2 5.1-.2v11.8h-3.8Zm-27.6 45.8-8.4 5.5c.2-1.6-2-4.6-4-8.9l-9-20 .1-.8a11.8 11.8 0 0 0 5-4.4c.6-1.2 1.4-2.4 1.5-3.7.3-.9.5-2.9.5-4.9 0-1.8-.2-3.5 0-5-1.4-1.5-2.2-2.6-3.2-3.3-.8-.6-1.2-1-2.5-.8-1-.4-1.8-.5-2.6-.5H952.9a2984.5 2984.5 0 0 0-.2 51h-9.1V322a5424 5424 0 0 0 .3-52 115.4 115.4 0 0 0 8-.2c2.8 0 5.6.2 7.7.4 2.1.3 3.4 1.5 5.1 2.7 2.6.7 4.5 2.8 5.7 5.6 1.2 2.7 1.8 5.8 1.8 9.3a24 24 0 0 1-6 16.4v.3a66 66 0 0 1 6 12.3c2.2 4.2 4.1 7.9 5 11Zm-47.2-2.3c-1.8 2.8-3.9 5-6.2 6.3a13.8 13.8 0 0 1-14.4 0 18.4 18.4 0 0 1-6-5.8c-2-3-3.4-6.6-4.5-10.8a61.7 61.7 0 0 1-.1-27.2c.9-4 3.2-7.5 5.1-10.6.9-3 3-4.7 5.3-6.7 2.3-1.5 5.8-2.3 7.7-2.3 2.7 0 5.8.7 7.5 2.1 2.3 1.5 4.3 3.6 6 6.4 2 3 3.4 6.7 4.4 10.9a57.6 57.6 0 0 1-.3 27c-1 4.1-2.6 7.7-4.5 10.7Zm-4-33.2-2.1-7.6c-1.6-1.3-2.5-2.3-3.6-3a6 6 0 0 0-7 0c-1 .7-2 1.9-3 3.3a37 37 0 0 0-3.7 16c0 3.5.3 6.6 1 9.4.6 2.8 2 5.1 2.7 7 1.5 1.3 1.9 2.4 3.7 3.1.2.8 1.4 1.2 2.6 1.2 1.3 0 2.5-.4 4.4-1.1.2-.8 1.2-1.8 2.2-3.2 1-1.8 2.4-4 2.6-6.9a46.2 46.2 0 0 0 .2-18.2Zm-34.7 39.7a824 824 0 0 0-20.8 0l.1-15.9a5234 5234 0 0 0 .2-46h9.1a15080.4 15080.4 0 0 0-.2 49.3 204.6 204.6 0 0 1 5.7 0 537.4 537.4 0 0 0 11.4 0v12.7l-5.5-.1Zm-34.4-6.5c-1.5 2.8-4 5-6.2 6.3-2.3 1.4-4.5 2-7.3 2-2.5 0-4.9-.6-7.1-2a36.2 36.2 0 0 1-6-5.8c-2-3-3.5-6.6-4.6-10.8a61.7 61.7 0 0 1-.1-27.2c1-4 2.4-7.5 4.3-10.6 1.7-3 3.8-4.7 6.7-6.7a11 11 0 0 1 7.1-2.3c2.8 0 5.3.7 7.6 2.1 2.3 1.5 4.3 3.6 6 6.4 2 3 3.4 6.7 4.4 10.9 1 4.1 1.4 8.6 2.1 13.3-.3 5-1.3 9.5-2.4 13.6-1 4.2-2.6 7.8-4.5 10.8Zm-4-33.2a27 27 0 0 0-3-7.6c-.7-1.3-1.6-2.3-2.7-3a6 6 0 0 0-7 0c-1 .7-2 1.9-3 3.3-.5 2-2 4.3-2.7 7.5a41.8 41.8 0 0 0-.1 17.9c1 2.8 1.6 5.1 2.8 7 .8 1.3 1.7 2.4 2.8 3.1 1.7.8 2.2 1.2 3.5 1.2a6 6 0 0 0 3.5-1.1 5.2 5.2 0 0 0 3-3.2c1.4-1.8 2-4 2.6-6.9a46.1 46.1 0 0 0 .2-18.2Zm-43.7 24c1.7 1.3 3.6 2.3 6.6 2.9 1.5.5 3.5.8 5 .8H822.5a203.7 203.7 0 0 0-1.2 13h-.8c-5 0-9.1-1-12.7-2.6a23.6 23.6 0 0 1-9-7.7 30 30 0 0 1-4.5-9.4c-1-3.5-1.6-7.6-1.6-12.3 0-4.3.6-8.2 1.7-11.7 1-3.4 2.6-6.5 4.5-9.1 2.5-3.5 5.6-6.1 9.2-7.4 3.7-2.3 7.7-3.2 11.8-3.2H821.2a1976.4 1976.4 0 0 1 1 13H820.9c-1.6 0-3.5.2-5.7.8-2 .5-3.2 1.4-5.7 2.6-2.3 1.6-4 3.7-5.3 6.8-1.3 2-2 5-2 8.3 0 3.4.6 6.4 1.8 9a16 16 0 0 0 5.2 6.2Zm-28.4-25.8-.1-23.6h8l-1.2 23.6h-6.7Zm-10.3 0-1.2-23.6h7.4l-.4 23.6h-5.8Zm-170 37.3-8.4 5.5-4-8.9-9-20 .2-.8a11.8 11.8 0 0 0 5-4.4c.6-1.2 1-2.4 1.4-3.7 1.2-.9.6-2.9.6-4.9 0-1.8-.2-3.5-.9-5-.5-1.5-.6-2.6-1.7-3.3-1.5-.6-2.3-1-3.2-.8-.9-.4-1.7-.5-2.6-.5h-1.6a2811 2811 0 0 0-.2 21.6c.8 5 .6 10.6.5 16.5-.2 6-.2 10.3-.2 13H567c0-2.5 0-6 .4-10 .6-5.5-.2-12.5-.1-21.8a6258 6258 0 0 0 0-30.2 115.5 115.5 0 0 0 8-.2c3 0 5.2.2 7.2.4 2 .3 4 1.5 6.6 2.7 1.6.7 3.5 2.8 4.8 5.6 1.2 2.7 1.8 5.8 1.8 9.3a24 24 0 0 1-6 16.4v.3c1.8 4 3.8 8.2 6 12.3 2.1 4.2 3.8 7.9 5 11Zm-47.2-2.3c-1.8 2.8-3.9 5-6.1 6.3a13.8 13.8 0 0 1-14.5 0 18.4 18.4 0 0 1-6-5.8c-1.9-3-3.4-6.6-4.5-10.8a51.6 51.6 0 0 1 .4-27.2c.5-4 1.8-7.5 3.8-10.6 2.6-3 3.8-4.7 6.1-6.7a14 14 0 0 1 15.2-.2 16 16 0 0 1 6 6.4c2 3 3.5 6.7 4.4 10.9 1.9 4.1 1.5 8.6 1.4 13.3 0 5-.5 9.5-1.6 13.6-1.1 4.2-2.6 7.8-4.6 10.8Zm-4-33.2a27 27 0 0 0-2.9-7.6c-.8-1.3-1.7-2.3-2.7-3a6 6 0 0 0-7 0c-1.1.7-2.1 1.9-3 3.3a37 37 0 0 0-3.7 16c0 3.5.3 6.6.9 9.4.6 2.8 1.5 5.1 2.7 7 .8 1.3 1.8 2.4 2.8 3.1a6 6 0 0 0 7 0c1.1-.7 2.1-1.7 3-3.1 1.1-1.8 2-4 3.6-6.9-.2-2.8.1-5.8.2-9 0-3-.3-6.1-1-9.2ZM512 281.8a300.3 300.3 0 0 0-13.7 0l-.1 7.7v7.7a307.5 307.5 0 0 1 6.6 0 431 431 0 0 0 10.4 0v10a523.2 523.2 0 0 1-14 0h-2.8a2991 2991 0 0 0 0 24.7h-9.2a4581.4 4581.4 0 0 0 .3-61.9c1.3 0 3 .8 5.2.2a100.7 100.7 0 0 0 16 0c2.7.6 4.4-.2 5-.2v11.8H512Zm-58.3 17.4a3744 3744 0 0 0 0 32.7h-9.2a8801.9 8801.9 0 0 0 .4-62h9.1l-.1 14.6-.2 14.7Zm-24.5 12.5a13 13 0 0 1-5 2.1c-2 .5-4 .7-5.8.7V332h-9.1v-11.5a4236 4236 0 0 0 .3-50.5 147 147 0 0 1 6 0c4 0 7 .2 9.4.8 2.3.6 4.3 1.6 6.6 3 1.7 1.8 4 4.3 4.7 7.6a23 23 0 0 1 2.3 10.6c-.2 4.6-1.4 8.6-3 12-1 3.5-3.7 6.3-6.4 7.8Zm-1.4-25a9.3 9.3 0 0 0-2.9-4.3c-.5-.7-1.8-1.2-2.8-.6-1-.9-2-1-3-1h-.8a909.6 909.6 0 0 1-.1 13.1v11.4H419.3c.5 0 1.5 0 2.6-.4 1.5-.2 2-.7 2.7-1.3a10 10 0 0 0 3-4c.6-1.7 1-4 1-6.7 0-2.4-.3-4.5-1-6.2Zm-33.6 39.8-2.6-11.7h-14c-1.2 4.4-2 8.4-2.9 11.8-.7 4.2-1.2 5.7-1.4 6.6l-8.4-4.8a5472 5472 0 0 0 15.6-59h9.4a14902.3 14902.3 0 0 0 14.7 58.8l-9 5-1.4-6.7Zm-4.7-21.3c-.7-2.6-.8-6.6-2.2-10.4-.9-3.5-1.7-7.5-2.5-11.1h-.1a826 826 0 0 0-5 21.5h9.8Zm-42-6.4a3759.5 3759.5 0 0 0-.2 29.4l-6.6 4.5a753 753 0 0 0-12.8-27.5c-3.7-8.3-6.3-13-7.1-14.9l-.2.1a5239.9 5239.9 0 0 0 0 41.5h-8.1c.3-1.6-.4-5-.3-10.2a3804.2 3804.2 0 0 0 .2-47.9l7.1-4.5 7.2 14.6 12.3 25.6.1-.5a3037 3037 0 0 0 0-39h8.6a3492.6 3492.6 0 0 0-.3 28.8Zm-57.7 21.6a576.4 576.4 0 0 0 14 0v11.5l-5.6-.1a894.3 894.3 0 0 0-21.7 0 2234.7 2234.7 0 0 0 .4-45V270c1.2 0 3 .8 5.3.2a100.8 100.8 0 0 0 16.3 0c3 .6 4.8-.2 5.2-.2v11.4a289.8 289.8 0 0 1-10 0h-8.1a1069.4 1069.4 0 0 1-.2 14.3 688 688 0 0 1 14 0h4v9.1a480.6 480.6 0 0 1-14.3 0h-3.7a2425.5 2425.5 0 0 0 0 15.6h4.4Zm-28.6-8.7c-1.4 1-2.5 1.6-5 2.1-2 .5-3.9.7-5.7.7V332h-9.2l.1-11.5a4236 4236 0 0 0 .2-50.5 146.8 146.8 0 0 1 6 0c4 0 7 .2 9.4.8 2.3.6 4.3 1.6 6.9 3 1.4 1.8 4 4.3 4.4 7.6 1.2 2.8 1.8 6.4 2.6 10.6-.2 4.6-1.6 8.6-3.2 12-.8 3.5-3.8 6.3-6.5 7.8Zm-1.4-25a9.3 9.3 0 0 0-2.9-4.3c-.3-.7-1.8-1.2-2.7-.6-1-.9-2-1-3-1h-.9a909.6 909.6 0 0 1 0 13.1l-.1 7v4.4h1.1c.6 0 1.6 0 2.7-.4 1.8-.2 2-.7 2.7-1.3a10 10 0 0 0 3-4c.6-1.7 1-4 1-6.7 0-2.4-.3-4.5-1-6.2Zm-32 38.6c-2 2.8-4 5-6.2 6.3a13.8 13.8 0 0 1-14.5 0 18.4 18.4 0 0 1-6-5.8c-1.9-3-3.4-6.6-4.5-10.8a61.7 61.7 0 0 1-.1-27.2c.9-4 2.3-7.5 4.2-10.6a26 26 0 0 1 6.2-6.7c2.4-1.5 5-2.3 7.7-2.3s5.2.7 8.3 2.1c1.5 1.5 3.5 3.6 5.2 6.4 2.8 3 3.4 6.7 4.4 10.9a57.6 57.6 0 0 1-.2 27c-1.1 4.1-2.6 7.7-4.6 10.7Zm-4.2-33.2c-.3-2.5-.7-5.6-2.8-7.6 0-1.3-1-2.3-2.4-3a8 8 0 0 0-3.9-1.1c-1.2 0-2.4.3-3.2 1a5.4 5.4 0 0 0-2.7 3.4c-1.7 2-1.9 4.3-3.2 7.5a41.8 41.8 0 0 0-.1 17.9c.6 2.8 1.5 5.1 2.7 7 .8 1.3 1.7 2.4 2.8 3.1a8 8 0 0 0 3.5 1.2 6 6 0 0 0 3.5-1.1c1.1-.8 2-1.8 3-3.2 1-1.8 2-4 2.7-6.9a46.2 46.2 0 0 0 .2-18.2Zm-61.5 28.3a576.5 576.5 0 0 0 14 0v11.5a789.4 789.4 0 0 1-14.4-.1 605.6 605.6 0 0 0-12.8 0c0-1.6 0-5.1.4-10.6.6-5.5-.2-12.4-.1-20.8a4194.5 4194.5 0 0 0 0-30.4c1.3 0 3 .8 5.4.2a100.8 100.8 0 0 0 16.3 0c3 .6 4.8-.2 6-.2l-.6 11.4a346.8 346.8 0 0 1-9.3 0 521.7 521.7 0 0 0-9 0 1009.2 1009.2 0 0 1-.2 14.3 376.9 376.9 0 0 1 7.3 0 447 447 0 0 0 10.6 0v9.1a638 638 0 0 1-10.5 0h-7.5a2434.2 2434.2 0 0 0 0 15.6h4.4ZM139.8 301a393.1 393.1 0 0 0-.5 30.9h-9.4v-9c.4-4.1.8-9.7.2-16.7a619.7 619.7 0 0 1-13.7 0H113a4211.6 4211.6 0 0 0 0 25.7h-9.2l.1-10.1c0-4.5.5-12.3.2-23.5a2331 2331 0 0 0 0-28.4h9.2l-.1 12.4c0 3.8.7 7.6.5 11.3h2.5a503.2 503.2 0 0 0 14 0V269.9h9.2l-.2 16.7c0 5.9-.1 10.7.6 14.4ZM95 282.6H87c.6 4.8 0 8.7-.1 11.6a1983 1983 0 0 0-.1 37.7h-9.2a2532.3 2532.3 0 0 0 .4-37.2c.2-3 .2-7 .1-12.2a678.2 678.2 0 0 0-12.5.1V270c1.5 0 3.9.8 7.1.2a219.2 219.2 0 0 0 20.5 0c3.4.6 5.5-.2 6.2-.2v12.6H95Z'/%3E%3Cpath d='M930.7 243.5c-49 0-88.3-39.2-88.3-87.6a87.5 87.5 0 1 1 175.2 0 87.5 87.5 0 0 1-87 87.6Zm0-160.3a72.6 72.6 0 1 0-1.2 145.4 72.6 72.6 0 0 0 1.2-145.4Z'/%3E%3Cpath  d='M935.6 73.8a87.9 87.9 0 0 0-87.6 87.6c0 24.3 9.4 45.1 24.6 60.9A87.7 87.7 0 1 1 996.5 98.4a87.3 87.3 0 0 0-60.9-24.6Zm72.7 87.6A72.7 72.7 0 0 1 883 211.7a73.2 73.2 0 0 0 123.5-52.5c0-19.5-8.2-37-20.7-50.2a72.4 72.4 0 0 1 22.4 52.4Z' opacity='.3'/%3E%3Cpath d='M930.7 113.7a42.4 42.4 0 0 1 0 84.6 42.3 42.3 0 1 1 0-84.6Z'/%3E%3Cpath fill='%23FFE335' d='M929.3 113c-3.4.2-8.4.7-12.4 2.1-2.1.8-5.5 2-8 3.4 1.7-4.6 1-11.4-2.3-15.6-2.5-4.6-7-9.1-13-10.7h-.2a74 74 0 0 1 36-9.8c4.4 4.4 5.9 10.5 5.9 15.8 0 4.9-2.6 11.3-6 14.7Z'/%3E%3Cpath fill='%23FFB833' d='M951 118.1a43.8 43.8 0 0 0-20.6-5.3c3.3-3.4 6-9.8 6-14.7 0-5.3-1.6-11.3-6-15.8h-.3a74 74 0 0 1 36 9.4 19 19 0 0 1-2.6 16.7c-1.8 4.2-8 8.5-12.6 9.7Z'/%3E%3Cpath fill='%23FB7928' d='M966.8 133.8a35.6 35.6 0 0 0-8-9.4c-2.2-1.8-4.6-4-7-5.5 4.5-1.3 10-5.6 12.4-9a24.7 24.7 0 0 0 2.8-17.5h-.2v-.2a73.8 73.8 0 0 1 26.6 26.2c-1.7 6.1-6.2 10.5-10.8 13.1a23.6 23.6 0 0 1-15.8 2.3Z'/%3E%3Cpath fill='%23F35326' d='M974 155.7c-1-4.9-1.7-9-2.9-13-1-2.9-2.2-5.6-3.6-8 4.6 1.1 11.5.1 15.7-2.3 4.6-2.7 9.1-7 10.7-13.1v-.2.7c6 9.9 9.6 22.1 9.8 35.5a23.7 23.7 0 0 1-15.9 6c-4.9 0-11.3-2.9-13.9-5.6Z'/%3E%3Cpath fill='%23F32F25' d='M967.7 176.8c2-2.9 3.5-7.7 5-11.8 0-2.9.4-5.8.8-8.7 3 3.3 9.3 5.9 14.2 5.9 5.3 0 12-1.5 15.8-6v.1c0 12-3 24.4-9.4 36.4a27 27 0 0 1-16.7-3.4c-4.2-2.4-8.5-7.9-9.7-12.5Z'/%3E%3Cpath  d='M930.7 131.5c12.9 0 23.8 11 23.8 24.4 0 13.5-11 24.4-23.8 24.4-14.1 0-25-11-25-24.4 0-13.5 10.9-24.4 25-24.4Z'/%3E%3Cpath fill='%23FF0' d='m930.7 154.8-19.7-9.4 19.7-31.7 18.2 31.1-18.2 10Z'/%3E%3Cpath fill='url(%23b)' d='m930.7 154.8-19.5-10 19.5-31 18.2 31-18.2 10Z' opacity='.5'/%3E%3Cpath fill='red' d='m931.7 156.2 17.2-11.4 16.7 31-35 3 1.1-22.6Z'/%3E%3Cpath fill='url(%23b)' d='m930.7 178.7 1-22.5 17.2-11.4 16.7 31-35 3Z' opacity='.5'/%3E%3Cpath fill='%23006DB9' d='M929 155.9 910 144.8l-15.5 31 34.4 3v-23Z'/%3E%3Cpath fill='url(%23b)' d='M929 178.7V156L910 144.8l-15.5 31 34.4 3Z' opacity='.5'/%3E%3Cpath fill='url(%23c)' d='m893.5 177 37.2 21.3 36-21.3h-73.2Z'/%3E%3Cpath fill='url(%23d)' d='m893.5 177 37.2 21.3 36-21.3h-73.2Z'/%3E%3Cpath fill='url(%23e)' d='M966.7 175.9v-41l-36-21.2 36 62.2Z'/%3E%3Cpath fill='url(%23f)' d='M966.7 175.9v-41l-36-21.2 36 62.2Z'/%3E%3Cpath fill='url(%23g)' d='m893.5 175.9 1-42.2 36.2-20-37.2 62.2Z'/%3E%3Cpath fill='url(%23h)' d='m893.5 175.9 1-42.2 36.2-20-37.2 62.2Z'/%3E%3Cpath fill='%23D22976' d='M952.3 193c3.7-2.3 7-4.9 10.4-8.1 1.8-2.2 3-4.6 4.6-7a22 22 0 0 0 10.3 12.4c4 2.6 10 4.3 16 2.8l.2-.3a74 74 0 0 1-26.2 26.5c-6-1.6-10.4-6-13-10.7a29 29 0 0 1-2.3-15.7Z'/%3E%3Cpath fill='%236C2177' d='M930.9 198.9c4.2-.1 8.4 0 12.4-2.1 2.8-1 5.5-2.1 8-3.6a23.6 23.6 0 0 0 2.2 15.8c2.7 4.5 7 9.6 13.1 10.7l.2-.1a73.8 73.8 0 0 1-36 9.9c-4.4-4.1-5.9-10.6-5.9-15.8 0-5 2.6-11.4 6-14.8Z'/%3E%3Cpath fill='%23004294' d='M909.3 193.6c3.7 2 7.7 3.6 12.6 5 2 0 5 .4 8 .6-3.4 3.2-6 9.6-6 14.5 0 5.5 3.2 13.7 6 15.9-8.6-.1-18.4.8-36.4-10.5-.6-6 .6-11 3.3-15.7 2.4-4.2 7.9-8.5 12.5-9.8Z'/%3E%3Cpath fill='%23006DB9' d='M893.3 177.9a43.8 43.8 0 0 0 15.1 14.9c-4.6 1.6-10 5.5-12.4 9.7-2.7 5.4-4.4 10.6-2.8 16.7h.2v.2a74 74 0 0 1-26.5-26.3 21.6 21.6 0 0 1 10.7-12.5 21 21 0 0 1 15.7-2.7Z'/%3E%3Cpath fill='%23008E9A' d='M887.5 156.5c-.4 4.3.3 8.4 1.6 12.5 1.4 2.8 2.1 5.5 3.6 8.5a20 20 0 0 0-15.4 1.7c-4.9 2.6-9.4 7-11 13l.1.3a74 74 0 0 1-9.9-36c4.5-3.6 11-6 15.8-6 5 0 11.4 2.7 15.2 6Z'/%3E%3Cpath fill='%23008A3A' d='M892.6 135c-2 3.7-2.6 7.6-4.4 11.8-.6 2.9-1 5.8-1 8.7-3.3-3.4-9.8-6-14.7-6-5.2 0-11.3 2-15.8 6v.2c0-12.3 3-24.1 10.2-36 5.3-1.4 11.3 0 15.9 2.7 4.8 2.5 8.6 8 9.8 12.6Z'/%3E%3Cpath fill='%2385B92B' d='M908 118.9c-3.7 2.9-6.5 4.9-9.8 8-2 3-3.7 4.6-5 7a25 25 0 0 0-10-12.4 22.3 22.3 0 0 0-16.7-2.8v.2h-.1c6.1-10.6 15-19 26.2-26.5 6.1 2.1 11.2 6.2 13.1 10.7A23.4 23.4 0 0 1 908 119Z'/%3E%3C/svg%3E") no-repeat;
  display: block;
  width: 50vw;
  height: 50vw;
  margin: 0 auto;
  min-width: 640px;
  max-width: 80%;
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  top: 150px;
}
header.homepage h3 {
  text-align: center;
  font-style: italic;
  margin: 0;
  padding: 0;
  opacity: 0.5;
  position: absolute;
  left: 60vw;
  top: 140px;
  white-space: nowrap;
  font-size: min(24px, 3vw);
}

#singleLn:checked ~ .homepage-content [for=singleLn],
#multiLn:checked ~ .homepage-content [for=multiLn] {
  transform: scale(2);
  filter: drop-shadow(0 0 5px white);
  opacity: 1;
}
#singleLn:checked ~ .homepage-content [for=singleLn]:hover::after,
#multiLn:checked ~ .homepage-content [for=multiLn]:hover::after {
  content: unset;
}

#multiLn:checked ~ .homepage-content .input-methods-bubble .input-methods-bubble-input-text #stringToHue {
  height: 300px;
  transition: 0.4s cubic-bezier(1, -0.78, 0.73, 2.52);
  border: 1px solid rgba(0, 0, 0, 0.6);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

#inputTextEntry:checked ~ .homepage-content .input-methods-bubble .input-methods-bubble-input {
  animation: 1.5s flipToF forwards;
}
#inputTextEntry:checked ~ .homepage-content .input-methods-bubble .input-methods-bubble-input > div {
  animation: 1.5s shadowB forwards;
}

#inputAPI:checked ~ .homepage-content .input-methods-bubble .input-methods-bubble-input {
  animation: 1.5s flipToB forwards;
}
#inputAPI:checked ~ .homepage-content .input-methods-bubble .input-methods-bubble-input > div {
  animation: 1.5s shadowB forwards;
}
#inputAPI:checked ~ .homepage-content .input-methods-bubble .input-methods-bubble-input .api .closer-label {
  display: block;
}

#inputBASE:checked ~ .homepage-content .input-methods-buttons [for=inputTextEntry],
#inputTextEntry:checked ~ .homepage-content .input-methods-buttons [for=inputTextEntry],
#inputAPI:checked ~ .homepage-content .input-methods-buttons [for=inputAPI],
#inputDownload:checked ~ .homepage-content .input-methods-buttons [for=inputDownload] {
  opacity: 1;
  filter: drop-shadow(0 0 5px white);
  transform: scale(1.66);
  pointer-events: none;
}
#inputBASE:checked ~ .homepage-content .input-methods-buttons [for=inputTextEntry]:hover::after,
#inputTextEntry:checked ~ .homepage-content .input-methods-buttons [for=inputTextEntry]:hover::after,
#inputAPI:checked ~ .homepage-content .input-methods-buttons [for=inputAPI]:hover::after,
#inputDownload:checked ~ .homepage-content .input-methods-buttons [for=inputDownload]:hover::after {
  content: unset;
}

article.homepage-content {
  display: flex;
  height: 100vh;
  max-height: 100%;
  width: 100%;
  min-width: 100%;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
}
article.homepage-content .input-methods {
  background: #666;
  margin: 5vh 10vw 25vh;
  width: 100%;
  padding: 1vh 20px;
  border-radius: 500px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}
article.homepage-content .input-methods-buttons {
  width: 100px;
  display: flex;
  flex: auto;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
}
article.homepage-content .input-methods-buttons-icon {
  width: 32px;
  height: 32px;
  display: block;
  margin: 8px 0 3px;
  background-repeat: no-repeat;
  background-size: contain;
  fill: white;
  opacity: 0.5;
  transition: none;
}
article.homepage-content .input-methods-buttons-icon ~ * {
  --label: var(--label);
}
article.homepage-content .input-methods-buttons-icon::after {
  content: var(--label);
  width: fit-content;
  white-space: pre;
  text-align: center;
  line-height: 1;
  font-size: 12px;
  display: block;
  position: absolute;
  left: 50%;
  top: 110%;
  color: var(--hue);
  pointer-events: none;
  transform: translatex(-50%);
  background: white;
  padding: 4px 8px 2px;
  border-radius: 50px;
  opacity: 0;
  transition: none;
}
article.homepage-content .input-methods-buttons-icon:hover {
  transform: scale(2.5);
  transition: 0.2s cubic-bezier(0.77, -0.5, 0.5, 2.92);
  opacity: 0.75;
  filter: drop-shadow(3px 6px 4px black);
  z-index: 10;
}
article.homepage-content .input-methods-buttons-icon:hover::after {
  transition: 1s opacity 0.75s;
  opacity: 0.75;
  pointer-events: none;
}
article.homepage-content .input-methods-buttons-icon:nth-last-child(4n-1):nth-child(1) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23FFF' viewBox='0 0 72 56'%3E%3Cpath d='M70 4h-8v48h8l2 2-2 2H50l-2-2 2-2h8V4h-8l-2-2 2-2h20l2 2-2 2ZM14 34l-2 6H7l9-24h6l9 24h-5l-2-6H14Zm5-13-4 9h8l-4-9Zm30 3v16h-3v-2l-5 2a8 8 0 1 1 0-16l5 2v-2h3Zm-8 3c-3 0-5 2-5 5s2 5 5 5 5-2 5-5-2-5-5-5ZM55 9H6c-2 0-4 2-4 4v31c0 2 2 4 4 4h49v2H5c-2 0-5-2-5-4V12c0-2 3-5 5-5h50v2Z'/%3E%3C/svg%3E");
}
article.homepage-content .input-methods-buttons-icon:nth-last-child(4n-2):nth-child(2) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23FFF' viewBox='0 0 50 29'%3E%3Cpath d='M50 22c0 5-4 7-8 7H8c-6 0-8-3-8-7 0-6 4-8 7-8-2 0-2-10 7-10 3 0 3 2 5 2 16-16 31 3 25 9 3 0 6 2 6 7ZM20 11h-4l-4 13h3l1-4h4l1 4h3l-4-13Zm8 0h-3v13h3v-3s5 0 5-5-5-5-5-5Zm9 0h-3v13h3V11Zm-9 7v-4s2 0 2 2-2 2-2 2Zm-10-4 1 3h-2l1-3Z' /%3E%3C/svg%3E");
  width: 38px;
}
article.homepage-content .input-methods-buttons-icon:nth-last-child(4n-3):nth-child(3) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23FFF' viewBox='0 0 37 35'%3E%3Cpath d='M23 20h6L19 30 9 20h6v-8h8v8Zm0-11h-8V6h8v3Zm-8-9h8v1h-8V0Zm8 4h-8V2h8v2ZM2 25c1.5 0 2 .6 2 2v4h29v-4c0-1.4.5-2 2-2 1.4 0 2 .6 2 2v6c0 1.4-.6 2-2 2H2c-1.5 0-2-.6-2-2v-6c0-1.5.5-2 2-2Z' /%3E%3C/svg%3E");
}
article.homepage-content .input-methods-buttons-icon:nth-last-child(3n-1):nth-child(1) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23FFF' viewBox='0 -200 500 342'%3E%3Cpath fill='rgb(255, 255, 255)' d='M437.467,141.282 L62.533,141.282 C28.021,141.282 0.043,109.816 0.043,71.000 C0.043,32.184 28.021,0.718 62.533,0.718 L437.467,0.718 C471.979,0.718 499.957,32.184 499.957,71.000 C499.957,109.816 471.979,141.282 437.467,141.282 ZM429.1000,11.000 L70.000,11.000 C36.863,11.000 9.1000,37.863 9.1000,71.000 C9.1000,104.137 36.863,130.1000 70.000,130.1000 L429.1000,130.1000 C463.137,130.1000 490.000,104.137 490.000,71.000 C490.000,37.863 463.137,11.000 429.1000,11.000 ZM429.1000,120.1000 L70.000,120.1000 C42.386,120.1000 19.1000,98.614 19.1000,71.000 C19.1000,43.386 42.386,21.000 70.000,21.000 L429.1000,21.000 C457.614,21.000 480.000,43.386 480.000,71.000 C480.000,98.614 457.614,120.1000 429.1000,120.1000 ZM86.449,57.243 L101.768,57.243 C101.338,28.391 52.985,28.822 52.982,58.006 C52.981,77.578 86.854,72.679 86.854,85.049 C86.854,98.287 67.729,97.628 66.998,84.690 L51.680,84.690 C52.176,115.258 102.973,114.007 102.980,83.207 C102.985,63.684 69.244,68.708 69.244,56.120 C69.244,45.876 85.960,46.973 86.449,57.243 ZM166.198,90.125 L152.542,90.125 L152.542,51.807 L166.198,51.807 L166.198,38.555 L122.444,38.555 L122.444,51.807 L136.100,51.807 L136.100,90.125 L122.444,90.125 L122.444,103.377 L166.198,103.377 L166.198,90.125 ZM234.896,38.555 L220.926,38.555 L220.926,77.278 L220.072,77.278 L201.924,38.555 L187.728,38.555 L187.728,103.377 L201.699,103.377 L201.699,64.295 L202.553,64.295 L220.701,103.377 L234.896,103.377 L234.896,38.555 ZM304.448,68.024 L277.809,68.024 L277.809,79.344 L287.692,79.344 L287.692,81.321 C287.692,87.385 284.592,90.889 279.292,90.889 C273.092,90.889 269.993,86.621 269.993,78.131 L269.993,63.801 C269.993,55.356 273.048,51.043 279.022,51.043 C283.919,51.043 287.288,54.772 287.602,60.612 L304.358,60.612 C303.999,46.102 294.565,37.252 279.561,37.252 C262.985,37.252 253.237,47.045 253.237,63.801 L253.237,78.131 C253.237,94.887 262.985,104.680 279.561,104.680 C294.790,104.680 304.448,95.651 304.448,81.321 L304.448,68.024 ZM369.013,89.766 L342.375,89.766 L342.375,38.555 L326.158,38.555 L326.158,103.377 L369.013,103.377 L369.013,89.766 ZM434.522,90.125 L408.153,90.125 L408.153,76.873 L432.860,76.873 L432.860,64.745 L408.153,64.745 L408.153,51.807 L434.522,51.807 L434.522,38.555 L391.666,38.555 L391.666,103.377 L434.522,103.377 L434.522,90.125 Z'/%3E%3C/svg%3E");
}
article.homepage-content .input-methods-buttons-icon:nth-child(2):last-child {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23FFF' viewBox='0 0 502 320'%3E%3Cpath d='M475 319H63c-34 0-62-28-62-62V66C1 32 29 1 63 1h412c15 0 26 11 26 26v266c0 15-11 26-26 26Zm15-289c0-14-5-21-20-21H69C36 9 11 35 11 68v184c0 34 24 58 57 58h402c15 0 20-6 20-21V30Zm-20 270H68c-28 0-47-19-47-48V68c0-28 20-49 48-49h401c9 0 10 3 10 11v259c0 9-1 11-10 11Zm-214-53h43v-13h-27v-14h25v-12h-25v-13h27v-13h-43v65Zm-136-52h14v39h-14v13h44v-13h-13v-39h13v-13h-44v13Zm-64 52h43v-14H72v-51H56v65Zm44-175H86L76 95 65 72H50v64h14l-1-36 11 15h3l11-15-1 36h13V72Zm67 0h-16v40c0 8-3 12-9 12-5 0-8-4-8-12V72h-17v41c0 16 9 25 25 25s25-9 25-25V72Zm19 175h14v-39h1l18 39h14v-65h-14v39h-1l-18-39h-14v65Zm47-124h-27V72h-16v64h43v-13Zm69-51h-52v13h18v51h17V85h17V72Zm63 51h-13V85h13V72h-44v13h14v38h-14v13h44v-13Zm-23 59h-23v65h23c18 0 27-11 27-33 0-21-9-32-27-32Zm92-81h-48v13h48v-13Zm27-23c0-4 3-7 7-7 3 0 5 3 5 7V38c0-4-2-7-5-7-4 0-8 3-8 7l1 40Zm-1 204c0 3 4 5 8 5 3 0 5-2 5-5V102c0 3-2 6-5 6-4 0-7-3-7-6l-1 180Zm-125-48v-39s18-4 18 19-18 20-18 20Z'/%3E%3Cpath  d='M468 30c3 0 6 4 6 8v244c0 3-3 6-6 6-4 0-8-3-8-6V38c0-4 4-8 8-8Z' opacity='.5'/%3E%3C/svg%3E");
}
article.homepage-content .input-methods-buttons-icon:nth-of-type(2):not(:last-child) {
  margin-right: 33%;
}
article.homepage-content .input-methods-buttons-icon:nth-of-type(1):nth-of-type(-n + 1), article.homepage-content .input-methods-buttons-icon:nth-of-type(2):last-child {
  margin-left: 20%;
}
article.homepage-content .input-methods-buttons-icon:nth-of-type(2):last-child {
  margin-top: 15px;
}
article.homepage-content .input-methods-buttons:first-of-type {
  text-align: right;
  align-items: flex-end;
  padding-right: 10px;
}
article.homepage-content .input-methods-options {
  align-items: center;
}
article.homepage-content .input-methods-bubble {
  flex: auto;
  width: 100%;
  justify-content: center;
  align-content: center;
  align-self: center;
  padding: 0;
  z-index: 5;
  display: block;
  box-shadow: 0 5px 7px black;
}
article.homepage-content .input-methods-bubble-field {
  width: 95%;
  height: 48px;
  border-radius: 24px;
  font-size: clamp(16px, 3vw, 28px);
  line-height: 44px;
  padding: 0 24px;
  border: 1px solid transparent;
  margin: 8px 2.5% 0;
  transition: 0.4s cubic-bezier(1, -3.82, 0.57, 1.99);
  white-space: nowrap;
  overflow: hidden;
  resize: none;
  outline: 0 none;
}
article.homepage-content .input-methods-bubble-field:focus, article.homepage-content .input-methods-bubble-field:active, article.homepage-content .input-methods-bubble-field:target, article.homepage-content .input-methods-bubble-field:not(:placeholder-shown) {
  box-shadow: 0 0 10px color-mix(in srgb, var(--hue), #FFF 0%);
}
article.homepage-content .input-methods-bubble * {
  transform-style: preserve-3d;
}
article.homepage-content .input-methods .clear-tool {
  width: 64px;
  height: 42px;
  position: absolute;
  right: calc(2.5% + 4px);
  top: 10px;
  overflow: hidden;
  border-radius: 50%;
  padding: 3px 3px 3px 25px;
}
article.homepage-content .input-methods .clear-tool .input-wiper {
  display: block;
  font-size: 36px;
  line-height: 1;
  width: 0;
  height: 36px;
  border-radius: 50%;
  border: 1px solid #300;
  color: #600;
  margin-left: 64px;
  pointer-events: all;
  z-index: 999;
  transition: 0.4s all cubic-bezier(0.77, -1.25, 0.49, -0.02);
}
article.homepage-content .input-methods #stringToHue:not(:placeholder-shown) + .clear-tool > button {
  transition: 0.66s all cubic-bezier(0.14, 2.71, 0.44, -0.15);
  margin-left: 0;
  width: 36px;
}
article.homepage-content .closer-label {
  display: none;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  transition: 0.33s transform cubic-bezier(0.91, -1.49, 0.69, 1.55);
  padding: 8px;
}
article.homepage-content .closer-label::before {
  content: "X";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  border: 3px solid black;
  border-radius: 50%;
  transform-origin: 50% 50%;
  filter: saturate(0);
  transition: 0.66s filter ease-out, 0s transform 1s, 0.5s box-shadow 0.5s;
  transform: rotate(-1440deg);
  box-shadow: inset 0 0 0 10px #AAA;
  line-height: 32px;
  text-align: center;
  font-size: 24px;
  color: rgba(255, 255, 255, 0);
  background-image: conic-gradient(#FF0 0, #FF0 12.5%, #F93 12.5%, #F93 25%, #F00 37.5%, #F00 50%, #F0F 50%, #F0F 62.5%, #00F 62.5%, #00F 75%, #0FF 75%, #0FF 87.5%, #0F0 87.5%, #0F0 100%);
}
article.homepage-content .closer-label::after {
  content: "X";
  display: block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  font-size: 24px;
  color: rgba(255, 255, 255, 0.6666666667);
  border-radius: 50%;
  text-decoration: none;
  font-weight: 500;
  background: black;
  box-shadow: 0 0 5px 0 black;
  transition: 1s box-shadow ease-out, 0.5s color 0.5s, 0.5s background 0.5s;
  position: absolute;
  top: 8px;
  left: 8px;
}
article.homepage-content .closer-label:hover {
  box-shadow: none;
  transform: scale(1.5) translate(5px, 5px);
  transition: 0.33s transform cubic-bezier(0.79, -0.42, 0.73, 4.5);
}
article.homepage-content .closer-label:hover::after {
  color: black;
  background: rgba(255, 255, 255, 0.6666666667);
  box-shadow: inset 0 0 3px 2px black;
  transition: 0.5s all ease-in-out 0.25s;
}
article.homepage-content .closer-label:hover::before {
  transition: 3s transform ease-in-out 0.25s, 0.33s filter 0.125s, 0.25s box-shadow;
  transform: rotate(1440deg);
  filter: saturate(1) contrast(1);
  box-shadow: none;
}
article.homepage-content .closer-label:active::before, article.homepage-content .closer-label:focus::before {
  content: "close";
  box-shadow: inset 0 0 0 3px transparent, inset 0 0 0 20px rgba(0, 0, 0, 0.6666666667);
  font-size: 14px;
  line-height: 42px;
  transition: 0.13s all ease-in;
  color: white;
  transform: none;
  text-indent: 0.5px;
}
article.homepage-content .closer-label:active::after, article.homepage-content .closer-label:focus::after {
  opacity: 0;
  transition: 0.25s all ease-in;
}

footer {
  display: flex;
  width: 90%;
  height: 10vw;
  position: fixed;
  bottom: 20px;
  left: 5%;
  right: 5%;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-end;
  justify-content: center;
  align-items: stretch;
}
footer .output-codes {
  display: block;
  flex: auto;
  background-repeat: no-repeat;
  font-size: 4vw;
  opacity: 0;
  text-indent: 10vw;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.8);
  width: 20%;
  margin-bottom: 30px;
  text-shadow: 0 5px 0 rgba(255, 255, 255, 0.5333333333), 0 -5px 0 rgba(255, 255, 255, 0.5333333333), 5px 0 0 rgba(255, 255, 255, 0.5333333333), -5px 0 0 rgba(255, 255, 255, 0.5333333333), 4px 4px 0 rgba(255, 255, 255, 0.5333333333), 4px -4px 0 rgba(255, 255, 255, 0.5333333333), -4px 4px 0 rgba(255, 255, 255, 0.5333333333), -4px -4px 0 rgba(255, 255, 255, 0.5333333333);
}
footer .output-codes:first-of-type {
  width: 36%;
}
footer .output-codes:first-of-type::after {
  content: var(--derived);
  text-transform: uppercase;
  letter-spacing: 7px;
}
footer .output-codes.swatch {
  background: var(--hue);
  border: 5px solid white;
  box-shadow: inset 0 0 0 5px black;
}
footer .output-codes:last-of-type {
  width: 36%;
}
footer .output-codes:last-of-type::after {
  content: "rgb(" var(--rgb) ")";
  display: block;
  text-align: right;
  right: 8vw;
  font-size: 3vw;
  line-height: 2;
}
footer .hex {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 404 466'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0%25' x2='50%50' y1='75%25' y2='0%25'%3E%3Cstop offset='0%25' stop-color='red'/%3E%3Cstop offset='15%25' stop-color='%23FFAE00'/%3E%3Cstop offset='34%25' stop-color='%23FFFC00'/%3E%3Cstop offset='50%25' stop-color='%230F0'/%3E%3Cstop offset='62%25' stop-color='%2300FFE4'/%3E%3Cstop offset='75%25' stop-color='%230006FF'/%3E%3Cstop offset='87%25' stop-color='%23DE00FF'/%3E%3Cstop offset='100%25' stop-color='%23DE00FF'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpath fill='%23FFF' fill-rule='evenodd' d='M404 349 202 466 0 349V117L202 0l202 117v232Z'/%3E%3Cpath fill-rule='evenodd' d='M202 441 21 338V129L202 24l180 105v209L202 441Zm-61-254-31-17v76l-32-18v-76l-32-18v195l32 17v-78l32 18v79l31 17V187Zm97 171-35 18-17-9 1-38 16 7 31-16v-36l-31 16-16-8v-39l16 9 35-19v-40l-35 19-48-27v195l48 25 35-17v-40Zm123-224-34 19-20 76-2 1-20-53-35 19 35 77-35 118 32-18 22-74 1-1 22 50 34-19-37-77 37-118Z'/%3E%3Cpath fill='url(%23a)' fill-rule='evenodd' d='m273 88 27 16-4 3h1l-24 15 25 15-1 1 1 1-27 16-26-17-15 10 25 15-1 1 1 1-27 16-26-16-26 16-27-16 1-1-1-1 25-15-15-9-26 16-27-17h1l-1-1 25-15-18-12-5-3-4-2 27-16 3 2 25 14 16-9-20-13-4-2-4-2 27-17 11 7 17 10 28-17 27 16-4 3-24 14 17 10 27-17Zm-91 34 20 12 20-12-20-13-20 13Z'/%3E%3C/svg%3E") 50px center no-repeat;
}
footer .rgb {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 468 468'%3E%3Cpath fill-rule='evenodd' stroke='%23FFF' stroke-width='20' d='M427.2 303.7c0 68.2-55.3 123.5-123.5 123.5-28 0-54-9.3-75.6-25.1a118.4 118.4 0 0 1-73.8 25.1 123.5 123.5 0 0 1-44-239 123.6 123.6 0 1 1 237.5 0 123.6 123.6 0 0 1 79.4 115.5Zm-97.8-106.2A109.5 109.5 0 0 0 228 45a109 109 0 0 0-99.5 152.5A109.3 109.3 0 0 0 154.3 413a105 105 0 0 0 73.8-29.6 112.8 112.8 0 0 0 75.6 29.6 109.3 109.3 0 0 0 25.7-215.5Z'/%3E%3Cpath fill-rule='evenodd' d='M427.2 303.7c0 68.2-55.3 123.5-123.5 123.5-28 0-54-9.3-75.6-25.1a118.4 118.4 0 0 1-73.8 25.1 123.5 123.5 0 0 1-44-239 123.6 123.6 0 1 1 237.5 0 123.6 123.6 0 0 1 79.4 115.5Z'/%3E%3Cpath fill='%2300F' fill-rule='evenodd' d='M303.7 413a109.3 109.3 0 1 1 0-218.5 109.3 109.3 0 0 1 0 218.5Zm53.8-128.4c0-15.6-12-25-31.8-25h-40.3v100.3H327c21.4 0 35-11.3 35-29a24 24 0 0 0-23.3-23.6v-1.4a21.6 21.6 0 0 0 18.7-21.3Zm-47.3 54.1v-19.3s25.3-2.8 25.3 9.3c0 12.2-25.3 10-25.3 10Zm0-41.8v-16.5s21.7-2.7 21.7 8.6-21.7 7.9-21.7 7.9Z'/%3E%3Cpath fill='%230F0' fill-rule='evenodd' d='M263.6 303.7a109.3 109.3 0 1 1-218.6 0 109.3 109.3 0 0 1 218.6 0Zm-89.1 1.5h-41.2v17.5h15.3v3c0 9.4-4.8 14.9-13 14.9-9.6 0-14.4-6.6-14.4-19.8v-22.2c0-13 4.7-19.7 14-19.7 7.5 0 12.7 5.8 13.2 14.8h26c-.6-22.4-15.2-36.1-38.4-36.1-25.7 0-40.8 15.1-40.8 41v22.2c0 26 15.1 41.1 40.8 41.1 23.5 0 38.5-14 38.5-36.1v-20.6Z'/%3E%3Cpath fill='red' fill-rule='evenodd' d='M229 263.6A109.3 109.3 0 1 1 229 45a109.3 109.3 0 0 1 0 218.6Zm41-137.2c0-20.7-14-33-37.4-33H194v100.3h25.5v-35.1h7.5l17 35h28.6l-19.8-38.8a30 30 0 0 0 17.1-28.4Zm-41 14.2h-9.4v-28h9.4c9.3 0 15 5.3 15 13.8 0 8.7-5.8 14.2-15 14.2Z'/%3E%3Cpath fill='%230FF' fill-rule='evenodd' d='M194.4 303.7c0-31.4 13.3-59.8 33.7-79.7 22.2 20 35.5 48.3 35.5 79.7 0 31.4-13.3 59.8-35.5 79.7a111.7 111.7 0 0 1-33.7-79.7Z'/%3E%3Cpath fill='%23FF0' fill-rule='evenodd' d='M127.7 198.4a109.5 109.5 0 0 1 126 63 109.5 109.5 0 0 1-126-63Z'/%3E%3Cpath fill='%23F0F' fill-rule='evenodd' d='M204.3 261.4a109.3 109.3 0 0 1 126-63 109.3 109.3 0 0 1-126 63Z'/%3E%3Cpath fill='%23FFF' fill-rule='evenodd' d='M202.9 263.1c6.1-14.3 15-27.2 26-37.8 11.1 10.6 20 23.5 26.2 37.8a115 115 0 0 1-26.1 3.3c-9-.1-17.7-1.2-26.1-3.3Z'/%3E%3C/svg%3E") right no-repeat;
}
footer #license {
  width: fit-content;
  text-align: center;
  background: rgba(255, 255, 255, 0.6666666667);
  border-radius: 200px;
  padding: 10px 20px;
  color: #444;
}
footer #license a {
  color: #000;
}
footer #license code {
  font: 14px monospace;
}

@keyframes transitionText {
  0%, 100% {
    transform: rotate(var(--r1));
    left: var(--x1);
    top: var(--y1);
  }
  20% {
    transform: rotate(var(--r2));
    left: var(--x2);
    top: var(--y2);
  }
  40% {
    transform: rotate(var(--r3));
    left: var(--x3);
    top: var(--y3);
  }
  60% {
    transform: rotate(var(--r4));
    left: var(--x4);
    top: var(--y4);
  }
  80% {
    transform: rotate(var(--r5));
    left: var(--x5);
    top: var(--y5);
  }
}
.blurNotes {
  position: absolute;
  margin: 10vw;
  background: #ccc;
  padding: 3.5vw 5vw 2vw;
  border-radius: 50px;
  box-shadow: 0 10px 20px black;
  font-size: clamp(16px, 1.35vw, 24px);
  max-width: 800px;
  z-index: 1000;
}
.blurNotes h2 {
  margin: 0 0 10px 0;
}
.blurNotes small {
  display: block;
  text-align: center;
}

#page-bg {
  --bg: var(--bg1);
  --hue-l: hsla(var(--bg), 100%, 50%, 1);
  --hue-d: hsla(var(--bg), 100%, 30%, 1);
  --hue-lett1: hsla(calc(var(--bg) + 50), 100%, 70%, 1);
  --hue-lett2: hsla(calc(var(--bg) - 50), 100%, 70%, 1);
  background-image: linear-gradient(170deg, hsla(calc(var(--bg)), 50%, 50%, 0.5) 0, hsla(calc(var(--bg) - 50), 100%, 50%, 0.5) 100%);
  width: 100%;
  height: 100%;
  overflow: hidden;
  animation: 60s transitionBG infinite;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
#page-bg > var {
  background: linear-gradient(0deg, var(--hue-lett1) 0%, var(--hue-lett2) 100%);
  display: block;
  position: absolute;
  font: unset;
  font-weight: 900;
  font-family: var(--fm);
  font-size: var(--sz);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  user-select: none;
  animation: var(--d) transitionText ease-out infinite;
  filter: blur(var(--b));
  opacity: var(--o);
}

[data-rgb] #page-bg,
[data-rgb] #page-bg > var {
  animation: none;
  background: var(--hue) linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 153, 0) 33%, rgba(255, 255, 255, 0) 66%, rgba(255, 255, 255, 0.5333333333) 100%);
}
[data-rgb] #page-bg > var {
  opacity: 0;
  transition: 0s opacity linear;
}
[data-rgb] footer .output-codes {
  opacity: 1;
}
[data-rgb] .input-wiper {
  display: block;
}

@keyframes transitionBG {
  0% {
    filter: hue-rotate(0deg);
  }
  25% {
    filter: hue-rotate(90deg);
  }
  50% {
    filter: hue-rotate(180deg);
  }
  75% {
    filter: hue-rotate(270deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
a.octo-link::before {
  content: "";
  display: block;
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(10px) saturate(0);
  z-index: 9999;
  pointer-events: none;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.2) 0, #000 100%);
  transition: 0.25s all ease-in;
}
a.octo-link:hover::before {
  opacity: 1;
}

body.pageBlur:after,
body.dialog:after,
svg#octocat:hover:after {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 10;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px) saturate(0);
}

.dialog-window {
  transition: 0.4s all cubic-bezier(0.79, -1.67, 0.79, 2.11);
  transform: translatex(-2000px) scale(0.25);
}
.dialog-window .closer {
  border-radius: 50%;
  border: 2px solid black;
  width: 32px;
  height: 32px;
  line-height: 34px;
  font-size: 24px;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.8);
}

a.octo-link {
  position: absolute;
  display: block;
  z-index: 10000;
  right: 0;
  top: 0;
  width: 72px;
  height: 72px;
}
a.octo-link:hover > svg, a.octo-link #octocat:hover {
  pointer-events: all !important;
}

svg {
  height: 320px;
}
svg#octocat {
  position: fixed;
  right: -30px;
  top: -10px;
  opacity: 66%;
  height: 200px;
  z-index: 9999;
}
svg#octocat,
svg#octocat * {
  transition: 0.2s all ease-in-out;
}
svg#octocat, svg#octocat > * {
  pointer-events: none;
  user-select: none;
}
svg#octocat #hover-fork,
svg#octocat #cat,
svg#octocat #gloss,
svg#octocat #blotter,
svg#octocat #hover-copy {
  transform: scale(82.5%) translate(330px, -80px);
  opacity: 0;
}
svg#octocat:hover {
  height: 360px;
  transform: translate(40px, -20px);
  opacity: 1;
}
svg#octocat:hover,
svg#octocat:hover * {
  filter: saturate(1);
}
svg#octocat:hover ~ * {
  filter: grayscale(1) saturate(0);
}
svg#octocat:hover #fork,
svg#octocat:hover #shadowcat,
svg#octocat:hover #shadowcat-silhouette,
svg#octocat:hover #corner-shadow {
  opacity: 0;
}
svg#octocat:hover #hover-fork,
svg#octocat:hover #cat,
svg#octocat:hover #gloss,
svg#octocat:hover #blotter,
svg#octocat:hover #hover-copy {
  transform: scale(1) translate(0, 0);
  opacity: 1;
}
svg#octocat:hover #gloss {
  animation: 10s gloss linear infinite forwards;
}
svg .hovermode {
  opacity: 0;
}
svg #shadowcat {
  filter: drop-shadow(-5px 10px 10px #000);
}
svg #fork {
  filter: drop-shadow(-5px 10px 10px rgba(0, 0, 0, 0.6));
  transform: translate(0, -60px);
}

@keyframes gloss {
  0% {
    filter: hue-rotate(0deg);
    opacity: 1;
  }
  10% {
    opacity: 0.8;
  }
  20% {
    opacity: 0.6;
  }
  30% {
    opacity: 0.9;
  }
  40% {
    opacity: 0.7;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 0.7;
  }
  70% {
    opacity: 1;
  }
  80% {
    opacity: 0.8;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    filter: hue-rotate(720deg);
    opacity: 1;
  }
}
.input-methods-bubble-input {
  position: absolute;
  width: 100%;
  scale: 1;
  transform-style: preserve-3d;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  height: content-max;
  max-width: 900px;
  perspective: 100px;
  --bg: var(--bg1);
  --hue-l: hsla(var(--bg), 100%, 50%, 1);
  --hue-d: hsla(var(--bg), 100%, 30%, 1);
  --hue-lett1: hsla(calc(var(--bg) + 50), 100%, 70%, 1);
  --hue-lett2: hsla(calc(var(--bg) - 50), 100%, 70%, 1);
  --hue:inherit;
  background-image: linear-gradient(-190deg, hsla(calc(var(--bg)), 50%, 50%, 0.5) 0, hsla(calc(var(--bg) - 50), 100%, 50%, 0.5) 100%);
}

.input-methods-bubble-input-text,
.input-methods-bubble-input-api {
  position: absolute;
  height: content-min;
  width: 100%;
  color: #03446a;
  text-align: center;
  background-color: white;
  backface-visibility: hidden;
  border-radius: 200px;
  transform-style: preserve-3d;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
}

.input-methods-bubble-input-text {
  background: white;
  margin: 0 0 0 0;
}

.input-methods-bubble-input-api {
  background: #03446a;
  color: white;
  transform: rotatex(180deg);
  font: 15px system-ui;
  padding: 50px 0 50px 50px;
  margin: 0 0 20vh 0;
  border-radius: 50px;
  text-align: left;
  height: 80vh;
}
.input-methods-bubble-input-api .closer-label {
  position: absolute;
  right: 0px;
  top: -50px;
  z-index: 100;
  display: none;
}
.input-methods-bubble-input-api .scroller {
  max-height: calc(80vh - 100px);
  overflow: auto;
  padding: 15px 50px 15px 15px;
}
.input-methods-bubble-input-api .api::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 7;
  box-shadow: inset 0 -10px 10px #03446A, inset 0 -5px 5px #03446A, inset 0 10px 10px #03446A, inset 0 5px 5px #03446A;
  pointer-events: none;
}

@keyframes flipToB {
  0% {
    scale: 1;
    transform: rotateX(0deg);
  }
  30% {
    scale: 1.25;
    transform: rotateX(0deg);
  }
  50%, 70% {
    scale: 1.25;
    transform: rotateX(180deg);
  }
  100% {
    scale: 1;
    transform: rotateX(180deg);
  }
}
@keyframes shadowB {
  0% {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
  }
  30% {
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2666666667);
  }
  50%, 70% {
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2666666667);
  }
  100% {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
  }
}
@keyframes flipToF {
  0% {
    scale: 1;
    transform: rotateX(180deg);
  }
  30% {
    scale: 1.25;
    transform: rotateX(180deg);
  }
  50%, 70% {
    scale: 1.25;
    transform: rotateX(0deg);
  }
  100% {
    scale: 1;
    transform: rotateX(0deg);
  }
}
@keyframes shadowF {
  0% {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
  }
  30% {
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2666666667);
  }
  50%, 70% {
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2666666667);
  }
  100% {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
  }
}
body[data-newload=true] *:not(#page-bg) {
  animation: none !important;
  transition: none !important;
}