@import "../../sass/fluidity.scss";
$url-component-colors: (
darkblue darkcyan darkgreen darkgoldenrod darkorange darkred darkviolet
);

*,
*::before,
*::after {
    position: relative;
    box-sizing: border-box;
    font-family: system-ui;
}

html,
body {
    margin: 0;
    padding: 0;
    color: #000c;
}

.pro-tip {
    display: block;
    border: 5px double #700;
    padding: 15px 10px 13px;
    background-color: #ffc;
    border-radius: 5px;
    box-shadow: 0 2px 3px #0006;
    margin-top: 10px !important;
    text-align: center;
    font-size: 0.9rem;
    text-shadow: 0 1px 0 #fff9;
    font-weight: 500;
    
    &,
    & > * {
        color: #530 !important;
    }
    h4 {
        position: absolute;
        margin: 0;
        font-size: 1.1rem;
        letter-spacing: 2.5px;
        top: -15px;
        left: -8px;
        transform: rotate(-5deg);
        text-shadow: 1.5px 0 0 #ffe, -1.5px 0 0 #ffe, 0 1.5px 0 #ffe,
        0 -1.5px 0 #ffe, 1.5px 1.5px 0 #ffe, -1.5px 1.5px 0 #ffe,
        1.5px -1.5px 0 #ffe, -1.5px -1.5px 0 #ffe, 2.75px 0 3px #530,
        -2.75px 0 3px #530, 0 2.75px 3px #530, 0 -2.75px 1.5px #530,
        0 2.75px 3px #530, 2.75px 2.75px 0 #530, -2.75px 2.75px 0 #530,
        2.75px -2.75px 0 #530, -2.75px -2.75px 0 #530, -2px 5px 8px #000;
    }
}

a {
    color: inherit;
    text-decoration-style: dotted;
}

a[href^="http"]:not([href*="stringto"]):not([href*="s2t.one"]) {
    --bgImg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 37 35'%3E%3Cpath fill='none' stroke='%234F473F' stroke-linejoin='bevel' stroke-width='3' d='M8.5 16.5c-5 0-5 0-5 5v5c0 5 0 5 5 5h9c5 0 5 0 5-5v-2'%3E%3C/path%3E%3Cpath fill='none' stroke='%234F473F' stroke-linejoin='bevel' stroke-width='3' d='M16 1h16a3 3 0 0 1 3 3v12a3 3 0 0 1-3 3H16a3 3 0 0 1-3-3V4a3 3 0 0 1 3-3Z' opacity='0'%3E%3C/path%3E%3Cpath fill='none' stroke='%234F473F' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M17 12h6l-9 10 1 1 9-10v7'%3E%3C/path%3E%3C/svg%3E");
    display: inline-block;
    padding-right: 1.25rem;
    color: #4f473f;
    text-decoration-style: dotted;
    
    &::after {
        content: "";
        display: inline-block;
        width: 1rem;
        height: 1rem;
        position: absolute;
        right: 0;
        top: 0;
        background-repeat: no-repeat;
    }
    
    &:hover {
        color: #bbb5af;
        text-decoration-style: solid;
        
        &::after {
            background-image: var(--hvrImg, var(--bgImg));
        }
    }
    
    &:not(:hover)::after {
        --hvrImg: unset;
        background-image: var(--bgImg);
    }
}

body {
    background: #877F75;
}
.api-docs {
    background: #dacebe;
    display: block;
    min-width: 480px;
    width: 100%;
    padding: 1% 4% 300px;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    line-height: 1.5;
    
    & > *:nth-child(-n + 19) {
        // display:none !important;
    }
    
    hr {
        border: 0 none;
        border-bottom: 3px double #8b735577;
        max-width: 80%;
        margin: 20px auto 10px;
    }
    
    h3 {
        color: #8b7355;
    }
    
    h2,
    h3,
    h4,
    h5 {
        &:has(button) {
            display: flex;
            justify-content: space-between;
            margin: 10px 0 -15px 0;
        }
        .example-button {
            display: block;
            background: transparent
            url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-20 0 600 500'%3E%3Cg transform='scale(0.5)'%3E%3Cpath fill='%238B7355' d='M250 0a250 250 0 1 1-1 500 250 250 0 0 1 1-500Z'%3E%3C/path%3E%3Cpath d='m320 139-84 244c-7 21-51 3-44-18l84-245c7-21 51-5 44 19Z'%3E%3C/path%3E%3Cpath d='m35 266 86 83c19 19 50-11 31-30l-62-61c-8-6-8-6 0-11l62-61c21-21-9-52-31-31l-86 84c-13 13-13 13 0 27Z'%3E%3C/path%3E%3Cpath d='m468 266-85 83c-19 19-50-11-31-30l62-61c7-6 7-6 0-11l-62-62c-21-20 9-52 31-30l85 84c14 13 14 13 0 27Z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E")
            no-repeat;
            width: 64px;
            height: 64px;
            border: 0 none;
            pointer-events: none;
            filter: invert(1) hue-rotate(180deg) drop-shadow(1px 2px 1px #000);
            transition: 0.2s all ease-out;
            margin-top: 5px;
            
            &::after {
                content: "";
                width: 50%;
                height: 50%;
                position: absolute;
                border-radius: 50%;
                top: 0;
                left: 0;
                z-index: 100;
                pointer-events: all;
                cursor: pointer;
            }
            
            &:hover {
                filter: invert(0) hue-rotate(0);
                transition: 0.5s filter linear, 0.2s margin-top, 0.2s margin-bottom;
                margin-top: 0;
                margin-bottom: 5px;
                &::after {
                    width: 100%;
                    height: 100%;
                    border-radius: 0;
                    transition: 0.5s all linear;
                }
            }
        }
    }
    
    code {
        font-family: "hack", monospace;
        font-size: 95%;
        background-color: #fff5;
        padding: 0 2px 0 3px;
        border-radius: 4px;
    }
    
    b > code {
        padding: 0 2px 0 0;
    }
    
    ol > li {
        margin-bottom: 8px;
    }
    
    .api-uri {
        text-align: center;
        border: 5px double #dacebe;
        margin: 20px auto 10px;
        border-radius: 50px;
        background: #efeeeb;
        box-shadow: inset 2px 2px 2px #0003, -0.5px -0.5px 1px #0003;
        padding: 10px 20px;
        font-size: 1rem;
        letter-spacing: 1px;
        width: min-content;
        min-width: 440px;
        white-space: nowrap;
        transition: 0s z-index 2.51s;
        z-index: 3;
        
        u,
        & > a > u {
            color: #888;
            text-decoration: underline;
            text-decoration-style: dotted;
            display: inline-block;
            padding: 0 3px;
            margin: 0 -7px 0 -6px;
        }
        
        & > a {
            text-decoration-style: dotted;
            margin: 0;
            font-size: 1.25rem;
            font-weight: 600;
            
            & > u {
                margin: 0;
                font-size: 1rem;
            }
            
            &.downplay {
                filter: grayscale(1) contrast(0.25) brightness(1.25);
                
                &:hover {
                    filter: none;
                }
            }
        }
        
        @for $i from 1 through length($url-component-colors) {
            & > a,
            .url-anatomy-segment {
                &,
                &:nth-of-type(#{$i}) {
                    --color: #{nth($url-component-colors, $i)};
                }
            }
        }
        
        a {
            color: var(--color);
        }
        .url-anatomy-segment {
            color: #000b;
            font-weight: 400;
            position: absolute;
                            
            background: white;
            padding: 15px;
            max-width: 50%;
            min-width: 420px;
            white-space: wrap;
            text-align: left;
            border-radius: 15px;
            filter: none;
            transition:  0.4s transform 0.3s;
            box-shadow: 0 5px 10px black;
            border: 2px solid var(--color);
            background: color-mix(in srgb, white, var(--color) 10%);
            letter-spacing: 0;
            pointer-events: none;
            
            &:not(:hover) {
                transform: scaley(0) translate(-50%, -80%);
                left:50%;
                opacity: 0;
            }
            
            h4,
            h5 {
                margin: 0 0 4px 0;
                color: var(--color);
            }
            h4 {
                font-size: 1.25rem;
                letter-spacing: 0;
                font-weight: 600;
            }
            h5 {
                font-size: 1rem;
                letter-spacing: 0;
            }
            p {
                margin: 6px 0 2px;
            }
            
            //                 &:first-of-type {
                //                     transform:scaley(1) translatey(0);
                
                //                 }
                & > a {
                    color: var(--color);
                }
            }
            &,
            & > * {
                transition: 0.5s all ease-in;
            }
            &:has(a:hover),
            &:has(a:active),
            &:has(a:focus),
            &:has(a:focus-within),
            &:has(a:target) {
                &,
                & > * {
                    transition: 0.15s all ease-in;
                }
                // background:#AAA;
                
                &
                > *:not(a:hover):not(a:active):not(a:focus):not(a:focus-within):not(
                a:target
                ):not(.url-anatomy-segment) {
                    filter: saturate(0) contrast(0) brightness(1.25);
                }
                
                &:not(.monochrome) > a:hover,
                & > a:active,
                & > a:focus,
                & > a:focus-within,
                & > a:target {
                    font-weight: 700;
                    outline: 0 none !important;
                    outline-color: var(--color);
                    opacity: 0.75;
                    
                    @for $i from 1 through length($url-component-colors) {
                        &:nth-of-type(#{$i}) ~ .url-anatomy-segment:nth-of-type(#{$i}) {
                            transform: scaley(1) translate(-50%);
                            left:50%;
                            opacity: 1;
                            transition: 0.4s transform ease-in, 0.3s opacity 0.15s;
                        }
                    }
                }
            }
            
            &.monochrome {
                &,
                a {
                    cursor: default;
                }
                @for $i from 1 through length($url-component-colors) {
                    a:nth-of-type(#{$i}) {
                        --color: #{nth($url-component-colors, 1)};
                    }
                }
                
                u {
                    text-decoration-style: dotted;
                    font-size: 0.95rem;
                }
            }
            
            &::before {
                content: "Example StringTone Endpoint URI";
                letter-spacing: -0.15px;
                color: #fdf7ec;
                position: absolute;
                top: -15px;
                left: 20px;
                font-weight: 700;
                font-size: 0.75rem;
                line-height: 1;
                z-index: 0;
                text-shadow: -1px -1px 1px #0003;
            }
            
            &:not(.monochrome)::after {
                content: "(Hover/Tap/Click a URL segment for details.)";
                font-style: italic;
                display: block;
                position: absolute;
                z-index: 0;
                width: 100%;
                bottom: -24px;
                left: 0;
                font-size: 11px;
                pointer-events: none;
            }
        }
        
        .endpoint-domains {
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            margin: 10px 0 45px;
            padding: 0;
            li {
                display: inline-block;
                text-align: center;
                margin: 0;
                padding: 5px 0;
                
                &:nth-of-type(odd) {
                    border-radius: 50px;
                    background-color: #fff9;
                    
                    u {
                        color: #0007;
                        font-size: 0.8rem;
                        display: inline-block;
                        margin-right: 1px;
                        text-decoration-style: dotted;
                        text-decoration-thickness: 0.125rem;
                    }
                    
                    a {
                        color: #000;
                        font-size: 1rem;
                        letter-spacing: 0.5px;
                        text-decoration-style: dotted;
                    }
                }
                
                &:nth-of-type(1) {
                    min-width: 47%;
                }
                &:nth-of-type(3) {
                    min-width: 45%;
                }
                &:nth-of-type(2) {
                    font-size: 13px;
                    font-weight: 800;
                    color: #0006;
                    min-width: 8%;
                }
                
                div {
                    font-size: 11px;
                    width: 90%;
                    left: 5%;
                    line-height: 1;
                    margin-top: 6px;
                    position: absolute;
                    opacity: 0.33;
                }
            }
        }
        
        &::before {
            content: "";
            position: fixed;
            display: block;
            background: #0002;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 3;
            backdrop-filter: none;
            opacity: 0;
            pointer-events: none;
            transition: 0.5s backdrop-filter ease-in, 0.25s opacity 0.5s;
        }

        & > h5 {
            right: 0;
            line-height: 1;
            color: #a8a198;
            font-size: 30px;
            position: absolute;
            z-index: 0;
            margin: 5px 35px 0 0;
        }
    }
    
    article:has(.api-uri:not(.monochrome):hover),
    article:has(.api-uri:not(.monochrome):active),
    article:has(.api-uri:not(.monochrome):focus),
    article:has(.api-uri:not(.monochrome):focus-within),
    article:has(.api-uri:not(.monochrome):target) {
        &,
        & > a {
            * {
                z-index: 0;
            }
            .api-uri {
                z-index: 5;
                transition: none;
                
                & > * {
                    z-index: 4;
                }
            }
            &::before {
                content: "";
                position: fixed;
                display: block;
                // background: #0002; 
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 3;
                opacity: 1;
                transition: none;
                backdrop-filter: saturate(0) blur(1px);
            }
        }
        
    }
    
    .table-matrices {
        display: grid;
        grid-template-columns: 1fr 1.5fr 4fr;
        gap: 0;
        height: auto;
        font-size: 0.8rem;
        white-space: normal;
        max-width: 80vw;
        min-width: 440px;
        overflow: auto;
        margin: 60px 0 30px;
        &:has(.block-notation) {
            padding-bottom: 25px;
        }
        
        .td {
            border-bottom: 1px solid #0003;
            border-right: 1px solid #0003;
            padding: 5px;
            background: #fff5;
            
            &,
            &-header {
                // Flag Syntax
                &:nth-child(3n-2) {
                    border-left: 1px solid #fff4;
                    white-space: nowrap;
                    font-weight: 700;
                }
                
                // Flag Name
                &:nth-child(3n-1) {
                    font-weight: 500;
                }
                
                // Description
                &:nth-child(3n) {
                    white-space: normal;
                }
            }
            
            &.block-notation {
                font-size: 0.7rem;
                font-weight: 300;
                font-style: italic;
                padding: 2px;
                position: absolute;
                bottom: 8px;
                background: transparent;
                border: 0 none;
                width: 100%;
                text-align: center;
            }
            
            &.default::after {
                content: "DEFAULT";
                position: absolute;
                font-size: 0.4rem;
                background: #fff; //linear-gradient(90deg, #FFF0 0, #FFF 5px, #FFF calc(100% - 5px), #FFF0 100%);
                padding: 0 2px;
                border-radius: 4px;
                border: 1px solid #700a;
                color: #700;
                top: 2px;
                right: 2px;
                transform-origin: 0% 0%;
                opacity: 0.5;
            }
            
            &-header {
                border: 1px solid #0005;
                border-left: 0 none;
                font-size: 0.8rem;
                font-weight: 700;
                padding: 5px;
                border-top: 1px solid #fff3;
                background: #aaa5;
            }
        }

        &::after {
            content:attr(data-title);
            display:block;
            width:400px;
            text-align: right;
            pointer-events:none;
            right: 0;
                top: 0;
            line-height: 32px;
            color: #a98;
            font-size: 1.5rem;
            /* z-index: 0; */
            /* margin: 5px 35px 0 0; */
            z-index: 1;
            margin: 0 5px 0 0;
            font-style: italic;
            font-weight: 700;
            text-shadow: 1px 1px 0 #fff6, -1px -1px 0 #000A;
            position: absolute;
        }
    }
    
    span.svg.heart-palette {
        @include fluid-type(--size, 85px, 130px);
        filter: drop-shadow(8px 10px 5px #0006);
        width: var(--size);
        height: calc(1.15 * var(--size));
        float: right;
        margin: 10px 0 -40px 10px;
    }
    

    .usage-agreement {
        background-color: #FAA;
        border:5px double #700;
        color:#400;
        font-size:0.75rem;
        padding:20px;
        border-radius: 10px;;
    }
