<span  class="api-dialog-content-section-url">
<a href="https://StringToneJS.com/api/-=YOUR_TEXT=-" target="_sample" style="--color:#A0F">https://StringToneJS.com</a>/
<a href="https://StringToneJS.com/api/-=YOUR_TEXT=-" target="_sample" style="--color:#F00">api</a>/
<a href="https://StringToneJS.com/api/-=YOUR_TEXT=-" target="_sample" style="--color:green">-=YOUR_TEXT=-</a>
</span>
<link rel='stylesheet' href='/components/api_instructions/api_instructions.scss' type='text/css' />
<link rel='stylesheet' href='/components/api_instructions/page3.scss' type='text/css' />
<link rel='stylesheet' href='/sass/svgs.scss' type='text/css' />

<div class="multi-details">
    <div class="url-details" style="--color:#A0F; --text:#206; --hilight:#EDF; --width:110%;">
        <span class="connective-line"></span>
        The API’s host domain
Available options include:
  • StringToneJS.com
  • s2t.one*
  • your-domain.com**


    * Saving HALF those sweet, sweet keystrokes***
  ** Not literally. your-domain.com is taken (we 
       checked).  But you CAN download the library!
      Then maybe YOU can buy the domain!
*** Why, if you typed this out 50 times a day, that’s 
5 hours of your life saved! Every year! But... hey! Then why are you still using the free, public api if you’re running this tool 18,000 times a year!? 

    </div>
    <div class="url-details" style="--color:#F00; --text:#500; --hilight:#FDD; --width:70%;">
        <span class="connective-line"></span>
        The /api/ flag itself
This tells the server you wish to address the api, not this site you’re reading now.

In the event of a future, breaking change, a /v2/, /v3/, etc. would be appended. 
Don’t worry: the current api will remain, as-is, though. No madcap scrambles to patch 81 mobile apps.
...Promise.

    </div>
    <div class="url-details" style="--color:green; --text:#050; --hilight:#DFD; --width:1%;">
        <span class="connective-line"></span>
        The String to... err... Tone
The last segment after the final “/” is the uriEncoded string you wish to gather the color data for 


While it can technically be of any length, in practise:
a. There is a 2,048 character limit imposed by the GET protocol
b. It sort of... yanno... defeats the point of the tool?


    </div>
</div>
