<a href="https://StringToneJS.com/api/-=YOUR_TEXT=-" class="api-dialog-content-section-url" target="_sample">https://StringToneJS.com/api/-=YOUR_TEXT=-</a>
<link rel='stylesheet' href='/components/api_instructions/api_instructions.scss' type='text/css' />
<link rel='stylesheet' href='/components/api_instructions/page2.scss' type='text/css' />
<link rel='stylesheet' href='/sass/svgs.scss' type='text/css' />

<div class="url-details">
    <span class="connective-line"></span>
    <b>This</b> is <b>StringTone's API Endpoint</b>
    <br><br>
    The most basic use of the utility is as simple as making a <a href="#">GET</a> or <a href="#">POST</a> request to the endpoint with the text you you want to convert substitued for "<code>--YOUR_TEXT--</code>". <em>That's it! In goes the word, out comes its color</em>!
    <span class="svg api-page-2-splash" style=""></span>
    <b>Click the endpoint's url above</b>. You should see a new window open containing the text <b>"#c760db"</b>, which is the color signature of <br> "<code>-=YOUR_TEXT=-</code>" (plus a lovely <span style="background-color:#c760db;">shade of purple</span>).
    <br><br>
    <center><strong>Want more?</strong> Let's move on to the <a href="javascript:document.getElementById('api-dialog-button-next').click();">next page</a> and let's show you what else it can do!</center>
</div>
