div.rounded-slide-panel, .url-details {
    background    : #FFF7;
    font-size     : 1.2em;
    padding       : 20px;
    border-radius : 15px;
    max-width     : 95%;
    line-height   : 1.3;
    margin        : 0 auto;
    color         : #000A;
    box-shadow    : 0 10px 20px #0008;
    // top           : 50vh;
    // transform     : translatey(-50%);
    
a {
    color                 : #400B;
    text-decoration-style : dashed;
    text-decoration-color : #4006;
    font-weight           : 500;
    
    &:hover {
        color                 : #400;
        text-decoration-style : solid;
        text-decoration-color : #400;
        font-weight           : 600;
    }
}
em { font-weight: 500;}
    
    code {
        font-family      : monospace;
        font-size        : inherit;
        background-color : #0002;
        border-radius    : 3px;
        display          : inline-block;
        padding          : 0 3px;
        margin           : 0 1px;
    }
    
}
.api-dialog-content-section-url {
    display         : block;
    background      : white;
    margin          : 10px auto 30px;
    width           : 90%;
    max-width       : 1024px;
    min-width       : 480px;
    padding         : 7px 40px;
    color           : #77654F;
    border-radius   : 20px;
    font-weight     : 400;
    font-size       : 130%;
    text-decoration-style: dotted;
    text-decoration-thickness: 2.5px;
    text-decoration-color: coral;
    border          : 2px solid #FFF9;
    box-shadow      : inset 0 0 0 2px #C4BBB2;
    text-align: center;

    &::before {
        content: 'StringTone API Endpoint URL';
        width: 100%;
        height: 20px;
        line-height: 20px;
        display: block;
        position: absolute;
        color:#EBE8E5;
        top: -18px;
        left: 20px;
        z-index: -1;
        font-size:75%;
        font-weight: 600;
        text-align: left;
    }
    
    
    
}

.url-details {
    --text:#822300;
    --color:#ff4200;
    --hilight:#ffe5dc;
    width:80%;
    max-width: 1024px;
    min-width: 480px;
    height:fit-content;
    background:linear-gradient(225deg, var(--hilight), white);    
    border-radius: 0 20px 0 50px;
    color: var(--text);
    border:2px solid var(--color);
    border-left:2px solid transparent;
    border-bottom:2px solid transparent;
    margin:10px auto;

    &::before {
        content:'';
        border:2px solid var(--color);
        width: 16px;
        height: 16px;
        border-radius: 50%;
        display: block;
        position: absolute;
        top: -9px;
        left: -14px;
        background-color: white;
    }

    .connective-line {
        border:2px dotted #ff4200;
        border-right:2px solid transparent;
        border-bottom:2px solid transparent;
        width:50%;
        height:12px;
        left:-7px;
        top:-20px;
        position:absolute;
        display: block;
        z-index: 5;
        filter:drop-shadow(0 1px 1px #FFF);

        &::after {
            content:'';
            border-right:2px dotted #ff4200;
            width:100%;
            height:23px;
            left:0;
            top:-23px;
            position:absolute;
            display: block;
            z-index: 5;
        }
    }
}
