@import '../../sass/fluidity.scss';

.multi-details {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    
}
div.rounded-slide-panel, .url-details {
    background    : #FFF7;
    font-size     : 1.2em;
    padding       : 20px;
    border-radius : 15px;
    max-width     : 95%;
    min-width     : 150px;
    line-height   : 1.3;
    margin        : 0 auto;
    color         : #000A;
    box-shadow    : 0 10px 20px #0008;
    
    ul {
        margin:0;
        padding:0 0 20px 26px;
    }

    h4 {
        margin: 0 0 8px 0;
    }

    footer {
        font-size:70%;
        margin-bottom:10px;

        i {
            display:block;
            font-style: normal;
            margin: 0 0 8px 0;
            &:first-of-type { 
                padding-top: 8px; 
                border-top-width: 1px;
                border-top-style: dotted;
            }
            &:last-of-type { 
                padding-bottom: 8px; 
            }
        }

        s:not(.inline) {
            display:inline-block;
            width:20px;
            margin-left: -20px;
            text-align: right;
        }
    }

    s {
        text-decoration: none;
        color:#B00;
    }

    p {
        font-size:80%;
        font-style: italic;
    }
    
    a {
        color                 : inherit;
        text-decoration-style : dashed;
        text-decoration-color : #4006;
        font-weight           : 500;
        
        &:hover {
            color                 : #400;
            text-decoration-style : solid;
            text-decoration-color : #400;
            font-weight           : 600;
        }
    }
    em { font-weight: 500;}
    
    code {
        font-family      : monospace;
        font-size        : inherit;
        background-color : #0002;
        border-radius    : 3px;
        display          : inline-block;
        padding          : 0 3px;
        margin           : 0 1px;
        font-style: normal;
    }
    
    span {
        border-radius : 3px;
        display       : inline-block;
        padding       : 0 8px 3px;
        color         : white;
        text-shadow   : 0 -1px 0 #0008;
    }
    
    .in-content-explanation { margin: 16px auto;}
    
}
.api-dialog-content-section-url {
    display         : block;
    background      : white;
    margin          : 15px auto 20px;
    width           : 90%;
    max-width       : 1024px;
    min-width       : 440px;
    padding         : 7px 40px;
    color           : #77654F;
    border-radius   : 20px;
    font-weight     : 400;
    @include fluid-type(font-size, 11px, 18px);
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-thickness: 2.5px;
    text-decoration-color: var(--color, #77654F);
    border          : 2px solid #FFF9;
    box-shadow      : inset 0 0 0 2px #C4BBB2;
    text-align: center;
    
    a {
        @include fluid-type(font-size, 14px, 24px);
        text-decoration-style: dotted;
        text-decoration-thickness: 2.5px;
        color: var(--color, coral);
        text-decoration-color: var(--color, #77654F);
        margin:0 3px 0 -3px;
    }
    
    &::before {
        content: 'StringTone API Endpoint URL';
        width: 100%;
        height: 20px;
        line-height: 20px;
        display: block;
        position: absolute;
        color:#EBE8E5;
        top: -18px;
        left: 20px;
        z-index: -1;
        font-size:75%;
        font-weight: 600;
        text-align: left;
    }
    
    
    
}

.url-details {
    --text:#822300;
    --color:#ff4200;
    --hilight:#ffe5dc;
    width:30%;
    max-width: 350px;
    min-width: 150px;
    height:fit-content;
    background:linear-gradient(225deg, var(--hilight), white);    
    border-radius: 0 20px 0 50px;
    color: var(--text);
    border:2px solid var(--color);
    border-left:2px solid transparent;
    border-bottom:2px solid transparent;
    margin:10px 3px 0 -3px;
    
    &::before {
        content:'';
        border:2px solid var(--color);
        width: 16px;
        height: 16px;
        border-radius: 50%;
        display: block;
        position: absolute;
        top: -9px;
        left: -14px;
        background-color: white;
    }
    
    .connective-line {
        border:2px dotted var(--color);
        border-right:2px solid transparent;
        border-bottom:2px solid transparent;
        width:var(--width, 50%);
        height:12px;
        left:-7px;
        top:-20px;
        position:absolute;
        display: block;
        z-index: 5;
        
        &::after {
            content:'';
            border-right:2px dotted var(--color);
            width:100%;
            height:23px;
            left:0;
            top:-23px;
            position:absolute;
            display: block;
            z-index: 5;
        }
    }
}
